<div class="absolute inset-0 flex items-center justify-center overflow-hidden aura-bg">
	<div class="absolute z-0 origin-right aura-shadow"></div>
	<div class="absolute z-0 origin-left aura-shadow"></div>
	<div class="absolute z-0 origin-top aura-shadow"></div>
	<div class="absolute z-0 origin-bottom aura-shadow"></div>
	<div class="absolute inset-0 z-10 bg-[#09090bd9]"></div>

	<h3 class="relative z-20 text-6xl font-bold leading-[5rem] text-center text-white max-w-full px-8">
		The ultimate companion<br>
		for	<span class="font-black text-indigo-400">{{textValue$ | async}}</span>
		<span class="opacity-70">
			<span class="inline-block w-4 h-12 ml-1 translate-y-1 bg-indigo-200 rounded-xs animate-pulse2"></span>
		</span>
	</h3>
</div>