<div class="relative z-50 w-full px-6 mt-16 sm:mt-24">
	<div class="relative flex max-w-2xl px-4 py-6 mx-auto border-4 rounded-md shadow-2xl sm:py-12 sm:px-8 border-zinc-950 bg-zinc-950/90">
		<h2 class="relative z-10 flex-1 mb-0">Welcome back<span *ngIf="name">,<br>{{name}}</span></h2>
		<div class="w-56 shrink-0 grow-0"></div>
		<img
			ixImg
			alt="CodeWiz Robot"
			priority
			loading="eager"
			priority
			[width]="1"
			[height]="1"
			path="assets/robot-codewhiz-ai.png"
			class="absolute bottom-0 z-0 w-56 h-56 -right-8 shrink-0 sm:right-4"
		>
	</div>
</div>

<div class="absolute inset-0 z-0 px-6 opacity-50">
	<div class="relative w-full h-full max-w-2xl mx-auto">
		<div
			class="relative z-10 w-full h-full md:scale-x-[1.015] sm:scale-x-[1.02] scale-x-[1.025] scale-y-105 rounded-md"
			style="background-image: linear-gradient(to bottom right, #695ca5 0%, #e74b94 53%, #f59e11 100%);"
		></div>
	</div>
</div>