<div class="relative z-50 w-full px-6 mt-24">
	<div class="relative max-w-2xl px-8 py-12 mx-auto border-4 rounded-md shadow-2xl border-zinc-950 bg-zinc-950/90">
		<h2 class="mb-0">Welcome back<span *ngIf="name">,<br>{{name}}</span></h2>
		<img
			ixImg
			alt="CodeWhiz Robot"
			priority
			loading="eager"
			priority
			[width]="1"
			[height]="1"
			path="assets/robot-codewhiz-ai.png"
			class="absolute bottom-0 w-56 h-56 shrink-0 right-4"
		>
	</div>
</div>

<div class="absolute inset-0 z-0 opacity-50">
	<div class="relative w-full h-full max-w-2xl mx-auto">
		<div
			class="relative z-10 w-full h-full scale-x-[1.015] scale-y-105 rounded-md"
			style="background-image: linear-gradient(to bottom right, #695ca5 0%, #e74b94 53%, #f59e11 100%);"
		></div>
	</div>
</div>