<ng-container *ngIf="pages$ | async as pages">
	<div *ngIf="pages.length > 0" tabindex="1" class="flex flex-col overflow-hidden border divide-y rounded-md divide-zinc-800 border-zinc-800">
		<a
			*ngFor="let page of pages"
			class="flex flex-row justify-between max-w-full px-3 py-2 space-x-4 transition-all duration-300 bg-transparent pages-center group hover:bg-zinc-900"
		>
			<div (click)="previewContentClick(page.content)" class="flex flex-row items-center space-x-4 cursor-pointer">
				<p class="font-medium truncate text-zinc-300">{{page.title}}</p>
				<p class="text-sm font-medium text-zinc-500">{{page.name}}</p>
			</div>
			<div class="flex flex-row items-center space-x-4">
				<p
					*ngIf="page.status"
					[ngClass]="{
						'text-teal-400': page.status === 'success',
						'text-red-400': page.status === 'failed',
						'text-amber-400': page.status === 'loading',
					}"
					class="pt-0 mt-0 text-sm"
				>
					{{page.status}}
				</p>
				<svg *ngIf="page.status !== 'success' && page.status !== 'loading'" (click)="manualElaborateClick(page)" class="w-5 h-5 transition-colors duration-300 cursor-pointer text-zinc-500 hover:text-zinc-50" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M18.5637 17.36C19.9998 16.711 21 15.2651 21 13.5858C21 10.9899 19.1698 9.44677 16.897 9.44579C16.897 7.81314 15.6165 4.54688 12 4.54688C8.38346 4.54688 7.10303 7.81314 7.10303 9.44579C4.83308 9.46525 3 10.9899 3 13.5858C3 15.2651 3.99924 16.711 5.43632 17.36" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M9.22852 15.2281L11.9995 12.457L14.7706 15.2281" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M12 12.457L12.0006 19.4512" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</div>
		</a>
	</div>
</ng-container>
