<div class="flex items-center justify-center w-screen min-h-screen">
	<div class="max-w-full px-6 py-6 mx-auto">
		<div>

			<p class="text-base font-semibold text-indigo-400">Alpha Access Required</p>
			<div class="max-w-prose">
				<h1 class="mt-4 text-3xl font-bold tracking-tight text-zinc-100 sm:text-5xl">Join the WizLern Alpha Phase Now 🎉</h1>
			</div>
			<p class="mt-6 text-base leading-7 text-zinc-400 max-w-prose">You've got an eye for the exclusive! WizLern is still in its elite Alpha phase. However, good news! You can request a golden ticket by submitting the form below. Remember, <b>CodeWiz champions with a paid plan get the front-row seat.</b></p>

			<div class="flex flex-col mt-8 sm:items-center sm:flex-row gap-y-4 gap-x-2">
				<a
					href="https://tally.so/r/nrOO6M"
					target="_blank"
					rel="noopener noreferrer"
				>
					<button
						class="rounded-md disabled:opacity-40 overflow-hidden disabled:cursor-not-allowed w-fit px-3.5 py-2.5 flex items-center justify-center space-x-2 text-sm font-semibold bg-indigo-600 hover:bg-indigo-500 disabled:hover:bg-indigo-600 ring-indigo-400 hover:ring-indigo-400 focus-visible:outline-indigo-600 text-white shadow-sm hover:ring-2 disabled:ring-0 disabled:ring-offset-0 hover:ring-offset-1 ring-offset-zinc-950 transition-all duration-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
					>
						<span>Unlock My Alpha Access</span>
						
						<svg class="w-4 h-4 shrink-0" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<g id="Iconly/Light/Arrow---Right" stroke="currentColor" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
								<g id="Arrow---Right" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000) translate(5.500000, 4.000000)" stroke="currentColor" stroke-width="1.5" >
									<line x1="6.7743" y1="15.75" x2="6.7743" y2="0.75" id="Stroke-1"></line>
									<polyline id="Stroke-3" points="12.7987 9.7002 6.7747 15.7502 0.7497 9.7002"></polyline>
								</g>
							</g>
						</svg>
					</button>
				</a>

				<button
					routerLink="/pricing"
					class="rounded-md disabled:opacity-40 overflow-hidden disabled:cursor-not-allowed w-fit px-3.5 py-2.5 flex items-center justify-center space-x-2 text-sm font-semibold bg-amber-600 hover:bg-amber-500 disabled:hover:bg-amber-600 ring-amber-400 hover:ring-amber-400 focus-visible:outline-amber-600 text-white shadow-sm hover:ring-2 disabled:ring-0 disabled:ring-offset-0 hover:ring-offset-1 ring-offset-zinc-950 transition-all duration-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
				>
					<span>Level Up My Plan</span>
					
					<svg class="w-4 h-4 shrink-0" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<g id="Iconly/Light/Arrow---Right" stroke="currentColor" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
							<g id="Arrow---Right" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000) translate(5.500000, 4.000000)" stroke="currentColor" stroke-width="1.5" >
								<line x1="6.7743" y1="15.75" x2="6.7743" y2="0.75" id="Stroke-1"></line>
								<polyline id="Stroke-3" points="12.7987 9.7002 6.7747 15.7502 0.7497 9.7002"></polyline>
							</g>
						</g>
					</svg>
				</button>
			</div>

		</div>
	</div>
</div>