<ng-template #buttonTemplate>
	<button (click)="onCopyToClipboard($event)" class="absolute invisible px-2 py-2 text-sm transition-all border rounded-lg shadow-sm opacity-0 btn active:shadow-inner border-zinc-600 hover:border-zinc-400 top-2 right-2 group-hover:visible group-hover:opacity-100 text-zinc-200 false" title="Copy to clipboard" type="button">
		<span class="relative">
			<svg class="" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="currentColor" focusable="false" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
				<path d="M28,10V28H10V10H28m0-2H10a2,2,0,0,0-2,2V28a2,2,0,0,0,2,2H28a2,2,0,0,0,2-2V10a2,2,0,0,0-2-2Z" transform="translate(0)"></path>
				<path d="M4,18H2V4A2,2,0,0,1,4,2H18V4H4Z" transform="translate(0)"></path>
				<rect fill="none" width="32" height="32"></rect>
			</svg>
			<div class="absolute px-2 py-1 font-normal leading-tight text-white transition-opacity transform -translate-x-1/2 translate-y-2 bg-black rounded shadow opacity-0 pointer-events-none left-1/2 top-full">
				<div class="absolute w-0 h-0 transform -translate-x-1/2 border-4 border-t-0 border-black bottom-full left-1/2" style="border-left-color: transparent; border-right-color: transparent;">
				</div> Copied
			</div>
		</span>
	</button>
</ng-template>

<div class="max-w-5xl px-4 mx-auto">
	<ng-container *ngFor="let msg of chat; let i = index">
		<div
			*ngIf="!msg.error; else error"
			[ngClass]="{ 'pt-3': msg.role === msgRoles.Assistant }"
			class="relative flex flex-row w-full pb-3 space-x-4"
		>
			<app-message-avatar
				name="Pietro Lungarini"
				[role]="msg.role"
				[stopAnim]="msg.completed"
				[ngClass]="{ 'pt-2.5': msg.role === msgRoles.Assistant }"
				class="block w-fit"
			></app-message-avatar>
			
			<div>
				<div
					[ngClass]="{
						'bg-gradient-to-br from-zinc-900 to-zinc-900/40 px-4 py-3 rounded-lg': msg.role === msgRoles.Assistant,
						'translate-y-3 opacity-0': !msg.content,
						'translate-y-0 opacity-100': msg.content
					}"
					#msgContentDiv
					class="overflow-hidden transition-all duration-700 translate-y-3 opacity-0">
					<ng-container *ngIf="msg.role === msgRoles.Assistant; else isUser">
						<markdown
							[data]="msg.content"
							ngPreserveWhitespaces
							clipboard
							[clipboardButtonTemplate]="buttonTemplate"
							class="block w-full max-w-full markdown"
						></markdown>
					</ng-container>
					<ng-template #isUser>
						<p class="whitespace-pre-wrap">{{msg.content}}</p>
					</ng-template>
				</div>
	
				<app-message-toolbar
					*ngIf="msg.role === msgRoles.Assistant && msg.content.length > 0"
					[show]="msg.role === msgRoles.Assistant && msg.content.length > 0 && !msg.showPageSections"
					[msg]="{
						content: msg.content,
						role: msg.role,
						completed: msg.completed,
						error: msg.error,
						pageSections: msg.pageSections
					}"
					[containerWidth]="msgContentDiv.clientWidth"
					(onShowPageSections)="togglePageSections(i, true)"
				></app-message-toolbar>

				<app-pagesections-selector
					[pageSections]="msg.pageSections"
					[ngClass]="{
						'translate-y-2 opacity-0 pointer-events-none': !msg.showPageSections,
						'translate-y-0 opacity-100 pointer-events-auto': msg.showPageSections,
					}"
					[show]="!!msg.showPageSections"
					(onClose)="togglePageSections(i, false)"
					class="transition-all duration-500 no-scrollbar"
				></app-pagesections-selector>
			</div>

		</div>
		<ng-template #error>
			<div class="py-2 border-y border-zinc-600">
				<p class="font-semibold">From: {{msg.role}}</p>
				<p class="text-red-400 whitespace-pre-wrap">{{msg.error?.debug?.message}}</p>
			</div>
		</ng-template>
	</ng-container>
</div>
