<!-- TODO: Messages styling -->

<ng-template #buttonTemplate>
  <button (click)="onCopyToClipboard($event)"><p>COPY</p></button>
</ng-template>

<div class="px-4 overflow-y-auto">
	<ng-container *ngFor="let msg of chat">
		<div *ngIf="!msg.error; else error" class="block w-full max-w-full py-2 border-b border-zinc-600">
			<p class="font-semibold">From: {{msg.role}}</p>
			<markdown
				[data]="msg.content"
				[lineNumbers]="true"
				ngPreserveWhitespaces
				clipboard
				[disableSanitizer]="msg.role === msgRoles.Assistant"
				[clipboardButtonTemplate]="buttonTemplate"
				class="block w-full max-w-full"
			><!-- {{msg.content}} --></markdown>
		</div>
		<ng-template #error>
			<div class="py-2 border-y border-zinc-600">
				<p class="font-semibold">From: {{msg.role}}</p>
				<p class="text-red-400 whitespace-pre-wrap">{{msg.error?.debug?.message}}</p>
			</div>
		</ng-template>
	</ng-container>
</div>
