<!-- TODO: Messages styling -->

<ng-template #buttonTemplate>
  <button (click)="onCopyToClipboard($event)">...</button>
</ng-template>

<div class="mr-4">
	<ng-container *ngFor="let msg of chat">
		<div *ngIf="!msg.error; else error" class="py-2 border-b border-zinc-600">
			<p class="font-semibold">From: {{msg.role}}</p>
			<markdown
				[data]="msg.content"
				ngPreserveWhitespaces
				clipboard
				[clipboardButtonTemplate]="buttonTemplate"
			></markdown>
		</div>
		<ng-template #error>
			<div class="py-2 border-y border-zinc-600">
				<p class="font-semibold">From: {{msg.role}}</p>
				<p class="text-red-400 whitespace-pre-wrap">{{msg.error?.debug?.message}}</p>
			</div>
		</ng-template>
	</ng-container>
</div>
