<section id="features" aria-labelledby="features-title" class="py-24">
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="relative px-6 py-20 overflow-hidden sm:bg-zinc-900/50 sm:backdrop-blur isolate sm:rounded-3xl sm:px-10 sm:py-24 lg:py-24 xl:px-24">
      <div class="grid max-w-2xl grid-cols-1 mx-auto gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-center lg:gap-y-0">
        <div class="lg:row-start-2 lg:max-w-md">
          <h2 id="features-title" class="text-3xl font-bold tracking-tight text-white sm:text-4xl">From Queries to Mastery:<br>Essential Features for Modern Coders.</h2>
          <p class="mt-6 text-lg leading-8 text-zinc-300">Dive in now and let these standout features transform your development journey. Why just code when you can <span class="inline tracking-tight text-transparent bg-gradient-to-r from-[#ec4899] to-[#8B5CF6] bg-clip-text font-semibold">CodeWiz</span>?</p>
        </div>
				<img
					ixImg
					alt="Wiz chat feature image"
					loading="lazy"
					[width]="1921"
					[height]="933"
					path="/site/assets/wizchat_screenshot.png"
					class="relative -z-20 min-w-full max-w-xl rounded-xl shadow-xl opacity-80 ring-1 ring-white/10 lg:row-span-4 lg:w-[64rem] lg:max-w-none"
				>
        <div class="max-w-xl lg:row-start-3 lg:mt-10 lg:max-w-md lg:border-t lg:border-white/10 lg:pt-10">
          <dl class="max-w-xl space-y-8 text-base leading-7 text-zinc-300 lg:max-w-none">
            <div class="relative">
              <dt class="inline-block font-semibold text-white ml-9">
                <svg class="absolute w-5 h-5 text-indigo-500 left-1 top-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.2767 21.9905C14.8265 21.9993 17.3792 20.9289 19.1977 18.7715C21.9187 15.5437 22.0043 10.7 19.3913 7.38439C15.9896 3.06665 9.70643 2.79637 5.94297 6.57255C3.19186 9.332 2.59768 13.4204 4.13904 16.7644C4.26741 17.0854 4.76434 17.9675 5.0979 18.548C5.28753 18.8778 5.26808 19.2847 5.04927 19.595C4.82949 19.9053 4.55137 20.3025 4.33451 20.6284C3.94649 21.2109 4.35882 21.9915 5.05705 21.9905L5.59644 21.9903C7.97013 21.9893 11.4492 21.9878 12.2767 21.9905Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M8.86523 14.5645C9.42635 15.8446 10.711 16.7423 12.2037 16.7423C13.6955 16.7423 14.9801 15.8446 15.5412 14.5645" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
                Chat Directly with AI
              </dt>
              <dd class="block">Instantly converse with CodeWiz on web framework documentation and receive answers with source references.</dd>
            </div>
            <div class="relative">
              <dt class="inline-block font-semibold text-white ml-9">
                <svg class="absolute w-5 h-5 text-indigo-500 left-1 top-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M16.1599 18.1587C12.599 18.4019 7.57966 13.981 6.68457 10.1953" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M3 5.28906H16.5071" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M9.4043 3.60938V5.29156" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M11.4766 20.3929L16.2381 11.0664L20.9996 20.3929" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M13.3454 5.28906C13.4592 5.52743 12.8793 13.9316 3.58398 16.7754" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
                Speak Code in Any Language
              </dt>
              <dd class="block">With CodeWiz's multilingual capabilities, dive into documentation and coding discussions in your preferred language.</dd>
            </div>
            <div class="relative">
              <dt class="inline-block font-semibold text-white ml-9">
                <svg class="absolute w-5 h-5 text-indigo-500 left-1 top-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.78313 3H16.2178C19.1659 3 21 5.08119 21 8.02735V15.9736C21 18.9188 19.1659 21 16.2169 21H7.78313C4.83503 21 3 18.9188 3 15.9736V8.02735C3 5.08119 4.84378 3 7.78313 3Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M11.7383 3V11.4999L14.2184 10.2594L16.681 11.4999L16.679 3.05157" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M7.63477 3V21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
                Never Lose a Thought
              </dt>
              <dd class="block">Every chat, every insight, always saved. With CodeWiz, pick up right where you left off and keep the coding momentum going.</dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="pointer-events-none opacity-40 absolute left-12 top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-3xl lg:bottom-[-12rem] lg:top-auto lg:translate-y-0 lg:transform-gpu" aria-hidden="true">
        <div class="aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-25" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
    </div>
  </div>
</section>
