<ng-container *ngIf="currentSection as section">
	<div class="px-6 py-4 -mx-6 sm:px-4 sm:rounded-lg bg-zinc-900/40 sm:mx-0">
		<h3 class="mb-4 text-3xl text-zinc-50" *ngIf="section.content.sectionTitle as title">{{title}}</h3>
		<div class="block w-full max-w-full px-4 py-2.5 mb-4 rounded-md shadow-lg bg-zinc-900">
			<p class="font-medium">Your Goals for this Lesson:</p>
			<ul class="mt-3 space-y-2.5">
				<li *ngFor="let goal of section.goals" class="flex items-start gap-x-2">
					<svg class="w-5 h-5 text-amber-500 shrink-0 translate-y-0.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M11.5441 3.18495C14.7744 4.00031 16.7311 7.28024 15.9157 10.5096C15.1003 13.7399 11.8204 15.6966 8.59107 14.8812C5.36076 14.0658 3.40311 10.7859 4.21945 7.55657C5.03481 4.32626 8.31377 2.36959 11.5441 3.18495Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M4.85291 12.043L3.29419 18.2866C3.14337 18.8918 3.70965 19.4308 4.30609 19.2508L7.29996 18.3469C7.58407 18.2613 7.89251 18.3391 8.1017 18.5493L10.3055 20.7629C10.7463 21.2056 11.5013 20.9983 11.6541 20.3931L13.2303 14.1495" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M19.4243 13.7422L20.7092 18.8956C20.8406 19.3967 20.3687 19.8404 19.8783 19.6886L17.405 18.9433C17.1685 18.8771 16.9136 18.9433 16.7443 19.1136L14.9316 20.9447" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M15.4414 6.30469C17.5372 6.43701 19.4063 7.90038 19.9444 10.0429C20.2752 11.3457 20.0572 12.667 19.4248 13.7441C18.7836 14.8767 17.6978 15.7446 16.3385 16.0842" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					<p>{{goal}}</p>
				</li>
			</ul>
		</div>
		<markdown
			[data]="section.content.content"
			ngPreserveWhitespaces
			clipboard
			class="block w-full max-w-full markdown"
		></markdown>
	</div>

	<ng-container *ngIf="course?.overview?.preferences?.revision">
		<div
			*ngIf="currentSection.content.summary as summary"
			class="mt-6 sm:px-4"
		>
			<p class="text-base font-medium text-zinc-200">Summary 📃</p>
			<p class="mt-2">{{summary}}</p>
		</div>
	</ng-container>

	<ng-container *ngIf="course?.overview?.preferences?.assessment === 'assignments'">
		<div
			*ngIf="currentSection.content.assignment as assignment"
			class="mt-6 sm:px-4"
		>
			<p class="text-base font-medium text-zinc-200">Time to test your Knowledge 🎉</p>
			<p class="mt-2">{{assignment}}</p>
		</div>
	</ng-container>

	<ng-container *ngIf="course?.overview?.preferences?.assessment === 'quizz'">
		<ng-container *ngIf="currentSection.content.quiz as quiz">
			<app-section-quiz
				[quiz]="quiz"
				[quizCompletions]="currentSection.progress"
				(quizChange)="onQuizChanges($event)"
				class="mt-6 sm:px-4"
			></app-section-quiz>
		</ng-container>
	</ng-container>

	<button
		[disabled]="!quizCompletion?.valid || loading"
		(click)="submit()"
		class="rounded-md disabled:opacity-40 overflow-hidden mr-auto disabled:cursor-not-allowed px-3.5 py-2.5 mt-8 flex items-center justify-center space-x-2 text-sm font-semibold bg-indigo-600 hover:bg-indigo-500 disabled:hover:bg-indigo-600 ring-indigo-400 hover:ring-indigo-400 focus-visible:outline-indigo-600 text-white shadow-sm hover:ring-2 disabled:ring-0 disabled:ring-offset-0 hover:ring-offset-1 ring-offset-zinc-950 transition-all duration-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
	>
		<svg [ngClass]="{ '-ml-8 opacity-0': !loading, '-ml-0 opacity-100': loading }" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="w-4 h-4 mr-2 transition-all duration-300 pointer-events-none shrink-0 animate-spin" style="shape-rendering: auto;">
			<circle cx="50" cy="50" fill="none" stroke-width="7" r="42" stroke-dasharray="197.92033717615698 67.97344572538566" class="stroke-white">
			</circle>
		</svg>

		<span>Next Lesson</span>
		
		<svg class="w-4 h-4 shrink-0" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<g id="Iconly/Light/Arrow---Right" stroke="currentColor" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
				<g id="Arrow---Right" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000) translate(5.500000, 4.000000)" stroke="currentColor" stroke-width="1.5" >
					<line x1="6.7743" y1="15.75" x2="6.7743" y2="0.75" id="Stroke-1"></line>
					<polyline id="Stroke-3" points="12.7987 9.7002 6.7747 15.7502 0.7497 9.7002"></polyline>
				</g>
			</g>
		</svg>
	</button>
	
</ng-container>
