<app-loader
	[ngClass]="{
		'opacity-0 pointer-events-none': chatLoaded,
		'opacity-100 pointer-events-auto': !chatLoaded,
	}"
	class="absolute inset-0 z-[100] transition-opacity duration-300"
></app-loader>

<app-status
	class="pointer-events-none"
	[status]="status"
></app-status>

<div
	class="h-screen max-h-screen pt-6 overflow-x-hidden overflow-y-auto"
	(scroll)="onChatScroll($event)"
	#mainChatContainer
>
	<app-messages
		[chat]="chat"
		[repoId]="this.selectedRepo"
		(onQueryRefresh)="createQuery($event.query, $event.queryId)"
	></app-messages>
</div>

<app-query-input
	[gettingQuery]="gettingQuery"
	[showScrollToBottom]="showScrollToBottom"
	(onQuery)="createQuery($event)"
	(onScrollBottom)="onMessageScroll(true, true);"
></app-query-input>