<div class="relative px-6 isolate pt-14 lg:px-8">
	<div class="absolute inset-x-0 overflow-hidden -top-32 -z-10 transform-gpu blur-3xl sm:-top-80" aria-hidden="true">
		<div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
	</div>
	<div class="max-w-2xl py-32 mx-auto sm:py-48 lg:py-56">
		<div class="flex justify-center mb-8">
			<div class="relative px-3 py-1 text-sm leading-6 transition-all duration-300 rounded-full cursor-default text-zinc-400 ring-1 ring-zinc-100/10 hover:ring-zinc-100/20">
				CodeWiz <span class="font-bold tracking-wider text-indigo-500">v0.1</span> is here!
			</div>
		</div>
		<div class="text-center">
			<h1 class="text-4xl font-bold tracking-tight text-zinc-100 sm:text-6xl">Your AI Sidekick for Framework Mastery</h1>
			<p class="mt-6 text-lg leading-8 text-zinc-400">No more wasting time searching for answers on Stack Overflow or other forums. With CodeWiz, you can get help instantly.</p>
			<div class="flex flex-col items-center justify-center mt-10 gap-y-3">
				<a routerLink="/auth/signup" class="rounded-md bg-indigo-600 px-3.5 py-2.5 flex items-center space-x-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 hover:ring-2 hover:ring-offset-1 ring-offset-zinc-950 ring-indigo-400 hover:ring-indigo-400 transition-all duration-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
					<span>Never Get Stuck Again</span>
					<svg class="w-4 h-4 shrink-0" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<g id="Iconly/Light/Arrow---Right" stroke="currentColor" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
							<g id="Arrow---Right" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000) translate(5.500000, 4.000000)" stroke="currentColor" stroke-width="1.5" >
								<line x1="6.7743" y1="15.75" x2="6.7743" y2="0.75" id="Stroke-1"></line>
								<polyline id="Stroke-3" points="12.7987 9.7002 6.7747 15.7502 0.7497 9.7002"></polyline>
							</g>
						</g>
					</svg>
				</a>
				<p class="text-sm">Get Started with CodeWiz Today - It's Free!</p>
			</div>
		</div>
	</div>
	<div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
		<div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
	</div>
</div>
