:host {
	@apply block;

	.aura-circle {
		filter: blur(10px);
		opacity: 0.5;
		transform-origin: center;
		transform: scale(0.8);
		animation: aura-rotate 3s ease-in-out;
		transition: opacity 0.5s ease-in-out;
	}

	.stop-color-transition {
		transition: stop-color 0.5s ease-in-out;
	}

	.aura-circle.stop-aura-anim {
		animation-iteration-count: 1 !important;
		opacity: 0;
	}
	
	.aura-circle.aura-anim {
		animation-iteration-count: 500 !important;
	}

	@keyframes aura-rotate {
		0% {
			transform: rotate(0deg) scale(0.8);
		}
		50% {
			transform: rotate(180deg) scale(0.9);
		}
		100% {
			transform: rotate(360deg) scale(0.8);
		}
	}
}