<div class="flex justify-end">
	<button
		(click)="disableUser()"
		type="button"
		[disabled]="loading"
		[ngClass]="{
			'bg-teal-600 hover:bg-teal-500 disabled:hover:bg-teal-600 hover:ring-teal-600': isDisabled,
			'bg-red-600 hover:bg-red-500 disabled:hover:bg-red-600 hover:ring-red-600': !isDisabled,
		}"
		class="inline-flex items-center px-3 py-1 overflow-hidden text-base font-semibold text-white transition-all duration-300 rounded-md shadow-sm hover:ring-2 disabled:hover:ring-0 hover:ring-offset-2 disabled:hover:ring-offset-0 ring-offset-zinc-900 disabled:cursor-not-allowed disabled:opacity-50"
	>
		<svg [ngClass]="{ '-ml-6 opacity-0': !loading, '-ml-0 opacity-100': loading }" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="w-4 h-4 mr-2 transition-all duration-300 pointer-events-none shrink-0 animate-spin" style="shape-rendering: auto;">
			<circle cx="50" cy="50" fill="none" stroke-width="7" r="42" stroke-dasharray="197.92033717615698 67.97344572538566" class="stroke-white">
			</circle>
		</svg>

		<span>{{isDisabled ? 'Enable' : 'Disable'}}</span>
	</button>
</div>