<div class="relative z-10 flex flex-row items-center justify-between w-full pb-2 mb-4 border-b border-zinc-800 bg-zinc-950">
	<h3 class="mb-0">Repo details</h3>

	<svg (click)="toggleSection()" [ngClass]="{ 'rotate-180': !showSection, 'rotate-0': showSection }" class="w-6 h-6 transition-all duration-300 cursor-pointer text-zinc-500 hover:text-zinc-200" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<g stroke="currentColor" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
			<g class="relative" transform="translate(12.000000, 12.000000) rotate(-180.000000) translate(-12.000000, -12.000000) translate(2.000000, 2.000000)" stroke="currentColor" stroke-width="1.5" >
				<path d="M5.6659,19.25 L14.3349,19.25 C17.3549,19.25 19.2499,17.111 19.2499,14.084 L19.2499,5.916 C19.2499,2.889 17.3649,0.75 14.3349,0.75 L5.6659,0.75 C2.6359,0.75 0.7499,2.889 0.7499,5.916 L0.7499,14.084 C0.7499,17.111 2.6359,19.25 5.6659,19.25 Z" id="Stroke-1"></path>
				<line x1="9.9999" y1="14.086" x2="9.9999" y2="5.914" id="Stroke-3"></line>
				<polyline id="Stroke-5" points="13.7479 10.3223 9.9999 14.0863 6.2519 10.3223"></polyline>
			</g>
		</g>
	</svg>
</div>


<form
	[formGroup]="form"
	[ngClass]="{
		'opacity-0 -mt-[26.8rem] sm:-mt-52 pointer-events-none': !showSection,
		'opacity-100 -mt-0 sm:-mt-0 pointer-events-auto': showSection,
	}"
	class="relative z-0 flex flex-col pb-6 mb-4 space-y-4 transition-all duration-300 border-b border-zinc-800"
>
	<div class="flex flex-col items-center space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
		
		<div class="flex-1 w-full">
			<label for="id"><p class="mb-1 text-sm">Slug</p></label>
			<input
				type="text"
				formControlName="id"
				id="id"
				name="id"
				placeholder="Slug"
				class="w-full px-3 py-1 transition-all duration-300 border rounded-md outline-none bg-zinc-900 border-zinc-600 text-zinc-200 focus:outline-none outline-offset-0 focus:border-zinc-600 focus:ring-1 focus:ring-offset-1 focus:ring-purple-400 focus:ring-offset-zinc-950"
			>
		</div>

		<div class="flex-1 w-full">
			<label for="name"><p class="mb-1 text-sm">Name</p></label>
			<input
				type="text"
				formControlName="name"
				id="name"
				name="name"
				placeholder="Name"
				class="w-full px-3 py-1 transition-all duration-300 border rounded-md outline-none bg-zinc-900 border-zinc-600 text-zinc-200 focus:outline-none outline-offset-0 focus:border-zinc-600 focus:ring-1 focus:ring-offset-1 focus:ring-purple-400 focus:ring-offset-zinc-950"
			>
		</div>

	</div>

	<div class="flex flex-col items-center space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
		
		<div class="flex-1 w-full">
			<label for="logo"><p class="mb-1 text-sm">Logo</p></label>
			<input
				type="text"
				formControlName="logo"
				id="logo"
				name="logo"
				placeholder="Logo"
				class="w-full px-3 py-1 transition-all duration-300 border rounded-md outline-none bg-zinc-900 border-zinc-600 text-zinc-200 focus:outline-none outline-offset-0 focus:border-zinc-600 focus:ring-1 focus:ring-offset-1 focus:ring-purple-400 focus:ring-offset-zinc-950"
			>
		</div>

		<div class="flex-1 w-full">
			<label for="url"><p class="mb-1 text-sm">Docs URL</p></label>
			<input
				type="text"
				formControlName="url"
				id="url"
				name="url"
				placeholder="Docs url"
				class="w-full px-3 py-1 transition-all duration-300 border rounded-md outline-none bg-zinc-900 border-zinc-600 text-zinc-200 focus:outline-none outline-offset-0 focus:border-zinc-600 focus:ring-1 focus:ring-offset-1 focus:ring-purple-400 focus:ring-offset-zinc-950"
			>
		</div>

	</div>

	<div class="flex flex-col items-center space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
		
		<div class="flex-1 w-full">
			<label for="hostUrl"><p class="mb-1 text-sm">Host URL</p></label>
			<input
				type="text"
				formControlName="hostUrl"
				id="hostUrl"
				name="hostUrl"
				placeholder="Host URL"
				class="w-full px-3 py-1 transition-all duration-300 border rounded-md outline-none bg-zinc-900 border-zinc-600 text-zinc-200 focus:outline-none outline-offset-0 focus:border-zinc-600 focus:ring-1 focus:ring-offset-1 focus:ring-purple-400 focus:ring-offset-zinc-950"
			>
		</div>

		<div class="flex-1 w-full">
			<label for="replaceUrl"><p class="mb-1 text-sm">Replace URL</p></label>
			<input
				type="text"
				formControlName="replaceUrl"
				id="replaceUrl"
				name="replaceUrl"
				placeholder="Replace URL"
				class="w-full px-3 py-1 transition-all duration-300 border rounded-md outline-none bg-zinc-900 border-zinc-600 text-zinc-200 focus:outline-none outline-offset-0 focus:border-zinc-600 focus:ring-1 focus:ring-offset-1 focus:ring-purple-400 focus:ring-offset-zinc-950"
			>
		</div>

	</div>
</form>