<div class="relative z-10 flex flex-row items-center justify-between w-full pb-2 mb-4 border-b border-zinc-800 bg-zinc-950">
	<h3 class="mb-0">Repo details</h3>

	<button *ngIf="dbRepo?.id" routerLink="/app/admin/repos/edit/{{form.value.id}}/edit-pages" class="px-2 py-1 text-sm leading-6 transition-all duration-300 rounded-md cursor-pointer bg-zinc-900 hover:bg-zinc-800 text-zinc-300 hover:text-zinc-50">Edit embeddings</button>
</div>


<form
	[formGroup]="form"
	class="relative z-0 flex flex-col pb-6 mb-4 space-y-4 transition-all duration-300"
>
	<div class="flex flex-col items-center space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
		
		<div class="flex-1 w-full">
			<label for="id"><p class="mb-1 text-sm">Slug</p></label>
			<input
				type="text"
				formControlName="id"
				[readonly]="dbRepo?.id && dbRepo?.id !== ''"
				id="id"
				name="id"
				placeholder="Slug"
				class="w-full px-3 py-1 transition-all duration-300 border rounded-md outline-none read-only:opacity-40 bg-zinc-900 border-zinc-600 text-zinc-200 focus:outline-none outline-offset-0 focus:border-zinc-600 focus:ring-1 read-only:focus:ring-0 read-only:focus:ring-offset-0 focus:ring-offset-1 focus:ring-purple-400 focus:ring-offset-zinc-950"
			>
		</div>

		<div class="flex-1 w-full">
			<label for="name"><p class="mb-1 text-sm">Name</p></label>
			<input
				type="text"
				formControlName="name"
				id="name"
				name="name"
				placeholder="Name"
				class="w-full px-3 py-1 transition-all duration-300 border rounded-md outline-none bg-zinc-900 border-zinc-600 text-zinc-200 focus:outline-none outline-offset-0 focus:border-zinc-600 focus:ring-1 focus:ring-offset-1 focus:ring-purple-400 focus:ring-offset-zinc-950"
			>
		</div>

	</div>

	<div class="flex flex-col items-center space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
		
		<div class="flex-1 w-full">
			<label for="logo"><p class="mb-1 text-sm">Logo</p></label>
			<input
				type="text"
				formControlName="logo"
				id="logo"
				name="logo"
				placeholder="Logo"
				class="w-full px-3 py-1 transition-all duration-300 border rounded-md outline-none bg-zinc-900 border-zinc-600 text-zinc-200 focus:outline-none outline-offset-0 focus:border-zinc-600 focus:ring-1 focus:ring-offset-1 focus:ring-purple-400 focus:ring-offset-zinc-950"
			>
		</div>

		<div class="flex-1 w-full">
			<label for="url"><p class="mb-1 text-sm">Docs URL</p></label>
			<input
				type="text"
				formControlName="url"
				id="url"
				name="url"
				placeholder="Docs url"
				class="w-full px-3 py-1 transition-all duration-300 border rounded-md outline-none bg-zinc-900 border-zinc-600 text-zinc-200 focus:outline-none outline-offset-0 focus:border-zinc-600 focus:ring-1 focus:ring-offset-1 focus:ring-purple-400 focus:ring-offset-zinc-950"
			>
		</div>

	</div>

	<div class="flex flex-col items-center space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
		
		<div class="flex-1 w-full">
			<label for="hostUrl"><p class="mb-1 text-sm">Host URL</p></label>
			<input
				type="text"
				formControlName="hostUrl"
				id="hostUrl"
				name="hostUrl"
				placeholder="Host URL"
				class="w-full px-3 py-1 transition-all duration-300 border rounded-md outline-none bg-zinc-900 border-zinc-600 text-zinc-200 focus:outline-none outline-offset-0 focus:border-zinc-600 focus:ring-1 focus:ring-offset-1 focus:ring-purple-400 focus:ring-offset-zinc-950"
			>
		</div>

		<div class="flex-1 w-full">
			<label for="replaceUrl"><p class="mb-1 text-sm">Replace URL</p></label>
			<input
				type="text"
				formControlName="replaceUrl"
				id="replaceUrl"
				name="replaceUrl"
				placeholder="Replace URL"
				class="w-full px-3 py-1 transition-all duration-300 border rounded-md outline-none bg-zinc-900 border-zinc-600 text-zinc-200 focus:outline-none outline-offset-0 focus:border-zinc-600 focus:ring-1 focus:ring-offset-1 focus:ring-purple-400 focus:ring-offset-zinc-950"
			>
		</div>

	</div>

	<div class="pt-8">
		<div class="flex items-center justify-between mb-2">
			<p class="font-semibold text-white">Replace Strings</p>

			<button [disabled]="disabledReplaceString" (click)="addEmptyReplaceString()" class="px-2 py-1 text-sm leading-6 transition-all duration-300 rounded-md cursor-pointer disabled:cursor-default disabled:opacity-60 bg-zinc-900 hover:bg-zinc-800 disabled:bg-zinc-900 disabled:text-zinc-300 text-zinc-300 hover:text-zinc-50">Add</button>
		</div>

		<ng-template #emptyReplaceStrings>
			<p class="mb-4 text-sm">No replace strings yet</p>
		</ng-template>
		
		<ng-container *ngIf="form.controls.replaceStrings.controls.length > 0; else emptyReplaceStrings" formArrayName="replaceStrings">
			<div *ngFor="let group of form.controls.replaceStrings.controls; let i = index; let last = last">
				<div [formGroup]="group" [class.pb-4]="!last" class="flex flex-col items-center justify-center space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
					
					<div class="flex-1 w-full">
						<label for="stringToReplace-{{i}}"><p class="mb-1 text-sm">String</p></label>
						<input
							type="text"
							formControlName="s"
							id="stringToReplace-{{i}}"
							name="stringToReplace-{{i}}"
							placeholder="String to replace"
							class="w-full px-3 py-1 transition-all duration-300 border rounded-md outline-none bg-zinc-900 border-zinc-600 text-zinc-200 focus:outline-none outline-offset-0 focus:border-zinc-600 focus:ring-1 focus:ring-offset-1 focus:ring-purple-400 focus:ring-offset-zinc-950"
						>
					</div>
			
					<div class="flex-1 w-full">
						<label for="replaceString-{{i}}"><p class="mb-1 text-sm">Replace</p></label>
						<input
							type="text"
							formControlName="r"
							id="replaceString-{{i}}"
							name="replaceString-{{i}}"
							placeholder="Replace string"
							class="w-full px-3 py-1 transition-all duration-300 border rounded-md outline-none bg-zinc-900 border-zinc-600 text-zinc-200 focus:outline-none outline-offset-0 focus:border-zinc-600 focus:ring-1 focus:ring-offset-1 focus:ring-purple-400 focus:ring-offset-zinc-950"
						>
					</div>

					<div class="pt-5 shrink-0 grow-0">
						<button (click)="deleteReplaceString(i)" class="p-1 transition-all duration-300 rounded-full cursor-pointer shrink-0 bg-zinc-900 disabled:cursor-default disabled:opacity-60 hover:bg-zinc-800 disabled:bg-zinc-900 disabled:text-zinc-300 text-zinc-300 hover:text-zinc-50">
							<svg class="w-4 h-4 shrink-0" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6 6L18 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M18 6L6 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</button>
					</div>
			
				</div>
			</div>
		</ng-container>
	</div>

	<div class="pt-4">
		<div class="flex items-center justify-between mb-2">
			<p class="font-semibold text-white">Queries suggestions</p>

			<button [disabled]="disabledQuerySuggestions" (click)="addEmptyQuerySuggestion()" class="px-2 py-1 text-sm leading-6 transition-all duration-300 rounded-md cursor-pointer disabled:cursor-default disabled:opacity-60 bg-zinc-900 hover:bg-zinc-800 disabled:bg-zinc-900 disabled:text-zinc-300 text-zinc-300 hover:text-zinc-50">Add</button>
		</div>

		<ng-template #emptyQuerySuggestions>
			<p class="mb-4 text-sm">No queries suggestions yet</p>
		</ng-template>
		
		<ng-container *ngIf="form.controls.querySuggestions.controls.length > 0; else emptyQuerySuggestions" formArrayName="replaceStrings">
			<div *ngFor="let control of form.controls.querySuggestions.controls; let i = index; let last = last">
				<div [class.pb-4]="!last" class="flex flex-row items-center justify-center space-x-4 space-y-0">
			
					<div class="flex-1 w-full">
						<input
							type="text"
							[formControl]="control"
							id="suggestion-{{i}}"
							name="suggestion-{{i}}"
							placeholder="Replace string"
							class="w-full px-3 py-1 transition-all duration-300 border rounded-md outline-none bg-zinc-900 border-zinc-600 text-zinc-200 focus:outline-none outline-offset-0 focus:border-zinc-600 focus:ring-1 focus:ring-offset-1 focus:ring-purple-400 focus:ring-offset-zinc-950"
						>
					</div>

					<div class="shrink-0 grow-0">
						<button (click)="deleteQuerySuggestion(i)" class="p-1 transition-all duration-300 rounded-full cursor-pointer shrink-0 bg-zinc-900 disabled:cursor-default disabled:opacity-60 hover:bg-zinc-800 disabled:bg-zinc-900 disabled:text-zinc-300 text-zinc-300 hover:text-zinc-50">
							<svg class="w-4 h-4 shrink-0" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6 6L18 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M18 6L6 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</button>
					</div>
			
				</div>
			</div>
		</ng-container>
	</div>

	<button
		type="submit"
		[disabled]="loadingSave || form.invalid || disabledReplaceString || disabledQuerySuggestions"
		(click)="save()"
		class="px-3 py-1.5 font-medium transition-all duration-300 bg-teal-500 rounded-md shadow-xl w-fit disabled:cursor-not-allowed disabled:opacity-50 text-zinc-900 hover:bg-teal-400 hover:shadow-2xl"
	>
		Save
	</button>
</form>