<div class="overflow-hidden md:rounded-r-none border-zinc-800 md:pl-4">
	<div class="flex items-center w-full max-w-full pt-2 pb-4 space-x-4">
		<app-subscription-remaining
			[percentage]="getRemainingDaysPerc((user$ | async)?.subscriptions?.at(0))"
			[remaining]="getRemainingDays((user$ | async)?.subscriptions?.at(0))"
			theme="light"
			class="shrink-0"
		></app-subscription-remaining>

		<ng-container *ngIf="(product$ | async) as product; else noSubscriptionSkeleton">
			<ng-container *ngIf="(user$ | async) as user; else noSubscriptionSkeleton">

				<div class="flex flex-col shrink">
					<p class="text-sm font-medium truncate text-zinc-500">
						Plan: <span class="text-base font-semibold shrink text-pink-500/80">{{getPlanName(product)}}</span>
					</p>
					<p class="text-sm font-medium truncate text-zinc-500">
						Renew on: <span class="text-base font-semibold shrink text-pink-500/80">{{user.subscriptions?.at(0)?.current_period_end?.toDate() | date:'longDate'}}</span>
					</p>
				</div>

			</ng-container>
		</ng-container>

		<ng-template #noSubscriptionSkeleton>
			<div class="max-w-full">
				<div class="h-6 max-w-full rounded-md bg-pink-600/80 w-44 animate-pulse"></div>
				<div class="w-32 h-4 max-w-full mt-1 rounded-md bg-zinc-600 animate-pulse"></div>
			</div>
		</ng-template>
		
	</div>
</div>