<ng-container *ngIf="user">
	<div class="relative px-4 py-4 border rounded-md border-zinc-800">
		
		<app-user-header
			[user]="user"
		></app-user-header>

		<div class="w-full h-px my-4 bg-zinc-800"></div>

		<app-user-overview
			[user]="user"
		></app-user-overview>

		<div class="w-full h-px my-4 bg-zinc-800"></div>

		<app-user-roles
			[uid]="user.id"
		></app-user-roles>

		<div class="w-full h-px my-4 bg-zinc-800"></div>

		<app-user-add-credits
			[uid]="user.id"
		></app-user-add-credits>

		<div class="w-full h-px my-4 bg-zinc-800"></div>

		<app-user-chats
			[uid]="user.id"
		></app-user-chats>

		<div class="w-full h-px my-4 bg-zinc-800"></div>

		<app-user-actions
			[user]="user"
		></app-user-actions>

	</div>
</ng-container>

