<div class="flex items-center justify-center w-full min-h-screen">
	<div class="max-w-full px-6 py-6 mx-auto">
		<div class="w-full max-w-5xl">

			<p class="text-base font-semibold text-red-400">Lern Not Found</p>
			<h1 class="mt-4 text-3xl font-bold tracking-tight text-zinc-100 sm:text-5xl">Oops! Lost in Code Space 🌌</h1>
			<p class="mt-6 text-base leading-7 text-zinc-400 max-w-prose">It seems like you've wandered off the beaten path. Maybe you took a wrong turn in the digital universe? No worries! 🛰️ Check out your latest courses below to find your way back to coding enlightenment. Happy exploring!</p>
			
			<div class="max-w-full mt-16">
				<app-latest-courses></app-latest-courses>
			</div>

		</div>
	</div>
</div>