<!-- CTA section -->
<div class="relative px-6 py-32 mt-32 isolate sm:mt-56 sm:py-40 lg:px-8">
	<svg class="absolute inset-0 -z-10 h-full w-full stroke-white/10 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
		<defs>
			<pattern id="1d4240dd-898f-445f-932d-e2872fd12de3" width="200" height="200" x="50%" y="0" patternUnits="userSpaceOnUse">
				<path d="M.5 200V.5H200" fill="none" />
			</pattern>
		</defs>
		<svg x="50%" y="0" class="overflow-visible fill-zinc-800/20">
			<path d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z" stroke-width="0" />
		</svg>
		<rect width="100%" height="100%" stroke-width="0" fill="url(#1d4240dd-898f-445f-932d-e2872fd12de3)" />
	</svg>
	<div class="absolute inset-x-0 flex justify-center overflow-hidden top-10 -z-10 transform-gpu blur-3xl" aria-hidden="true">
		<div class="aspect-[1108/632] w-[69.25rem] flex-none bg-gradient-to-r from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)"></div>
	</div>
	<div class="max-w-2xl mx-auto text-center">
		<h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Coding Just Got Easier.<br>Start using <span class="inline text-transparent bg-gradient-to-r from-[#ec4899] to-[#8B5CF6] bg-clip-text">CodeWiz</span> today.</h2>
		<p class="max-w-xl mx-auto mt-6 text-lg leading-8 text-zinc-300">Experience the CodeWiz difference: Get instant answers and laser-focused guidance for unparalleled support in your coding journey!</p>
		<div class="relative z-10 flex flex-col items-center justify-center mt-10 gap-y-3">
			<a routerLink="/auth/signup" class="rounded-md bg-indigo-600 px-3.5 py-2.5 flex items-center space-x-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 hover:ring-2 hover:ring-offset-1 ring-offset-zinc-950 ring-indigo-400 hover:ring-indigo-400 transition-all duration-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
				<span>Stay ahead, code smart</span>
				<svg class="w-4 h-4 shrink-0" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<g id="Iconly/Light/Arrow---Right" stroke="currentColor" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
						<g id="Arrow---Right" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000) translate(5.500000, 4.000000)" stroke="currentColor" stroke-width="1.5" >
							<line x1="6.7743" y1="15.75" x2="6.7743" y2="0.75" id="Stroke-1"></line>
							<polyline id="Stroke-3" points="12.7987 9.7002 6.7747 15.7502 0.7497 9.7002"></polyline>
						</g>
					</g>
				</svg>
			</a>
			<p class="text-sm">Let CodeWiz be your secret weapon.</p>
		</div>
	</div>
</div>

<!-- FOOTER -->
<footer aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="px-6 pt-16 pb-8 mx-auto max-w-7xl sm:pt-24 lg:px-8 lg:pt-32">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8">
        <img class="h-7" src="assets/logo/svg/codewiz_logo.svg" alt="CodeWiz">
        <p class="text-sm leading-6 text-zinc-300 max-w-prose">Unlock the magic of code with CodeWiz! Dive into docs and transform into a coding prodigy. Your spellbinding journey begins here.</p>
        <div class="flex space-x-6">
          <a href="https://facebook.com/codewizai" target="_blank" class="text-zinc-500 hover:text-zinc-400">
            <span class="sr-only">Facebook</span>
            <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M16.9498 3.5C16.9498 3.22386 16.7259 3 16.4498 3H14.2498C13.056 3 11.9118 3.47676 11.0682 4.31351C10.2236 5.16 9.7498 6.30324 9.7498 7.5V10.2H7.54981C7.27366 10.2 7.0498 10.4239 7.0498 10.7V13.3C7.0498 13.5761 7.27366 13.8 7.5498 13.8H9.7498V20.5C9.7498 20.7761 9.97366 21 10.2498 21H12.8498C13.1259 21 13.3498 20.7761 13.3498 20.5V13.8H16.4498C16.7259 13.8 16.9498 13.5761 16.9498 13.3V10.7C16.9498 10.4239 16.7259 10.2 16.4498 10.2H13.3498V7.5C13.3498 7.25676 13.4442 7.032 13.6135 6.86076C13.7818 6.69924 14.0114 6.6 14.2498 6.6H16.4498C16.7259 6.6 16.9498 6.37614 16.9498 6.1V3.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
          </a>
          <a href="https://www.instagram.com/codewiz.ai/" target="_blank" class="text-zinc-500 hover:text-zinc-400">
            <span class="sr-only">Instagram</span>
            <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M7.78216 3H16.2169C19.165 3 21 5.08119 21 8.02638V15.9736C21 18.9188 19.165 21 16.2159 21H7.78216C4.83405 21 3 18.9188 3 15.9736V8.02638C3 5.08119 4.84281 3 7.78216 3Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M11.8445 8.82812C9.91023 8.82812 8.3418 10.3966 8.3418 12.3308C8.3418 14.2651 9.91023 15.8335 11.8445 15.8335C13.7788 15.8335 15.3472 14.2651 15.3472 12.3308C15.3472 10.3966 13.7788 8.82812 11.8445 8.82812Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M16.8661 7.36374V7.43274V7.36374ZM17.1481 7.37875C17.1481 7.53575 17.0211 7.66275 16.8641 7.66275C16.7071 7.66275 16.5791 7.53575 16.5791 7.37875C16.5791 7.22175 16.7071 7.09375 16.8641 7.09375C17.0211 7.09375 17.1481 7.22175 17.1481 7.37875Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
          </a>
          <a href="https://x.com/codewizai" target="_blank" class="text-zinc-500 hover:text-zinc-400">
            <span class="sr-only">Twitter</span>
            <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M9.59954 4.802C9.41841 4.53493 9.11668 4.375 8.79398 4.375H5.14783C4.83544 4.375 4.65025 4.72438 4.8256 4.9829L14.4897 19.2312C14.6708 19.4983 14.9725 19.6582 15.2952 19.6582H18.9414C19.2538 19.6582 19.439 19.3088 19.2636 19.0503L9.59954 4.802Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M10.4499 13.4333L4.66895 20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M18.7571 4L13.3203 10.1756" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
          </a>
        </div>

				<a *ngIf="showPhBanner" href="https://www.producthunt.com/posts/codewiz?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-codewiz" target="_blank" rel="noopener noreferrer" class="relative block group w-fit">
					<img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=414541&theme=light" alt="CodeWiz - Your&#0032;Coding&#0032;Challenges&#0063;&#0032;Solved&#0032;with&#0032;AI&#0044;&#0032;One&#0032;Chat&#0032;at&#0032;a&#0032;Time&#0033; | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" class="transition-all duration-300 opacity-0 group-hover:opacity-100" />
					<img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=414541&theme=dark" alt="CodeWiz - Your&#0032;Coding&#0032;Challenges&#0063;&#0032;Solved&#0032;with&#0032;AI&#0044;&#0032;One&#0032;Chat&#0032;at&#0032;a&#0032;Time&#0033; | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" class="absolute top-0 left-0 transition-all duration-300 opacity-100 group-hover:opacity-0" />
				</a>
      </div>
      <div class="grid grid-cols-2 gap-8 mt-16 xl:col-span-2 xl:mt-0">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold leading-6 text-white">Sitemap</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a routerLink="/" class="text-sm leading-6 transition-colors duration-300 text-zinc-300 hover:text-white">Home</a>
              </li>
              <li>
                <a routerLink="/features" class="text-sm leading-6 transition-colors duration-300 text-zinc-300 hover:text-white">Features</a>
              </li>
              <li>
                <a routerLink="/pricing" class="text-sm leading-6 transition-colors duration-300 text-zinc-300 hover:text-white">Pricing</a>
              </li>
              <li>
                <a routerLink="/app" class="text-sm leading-6 transition-colors duration-300 text-zinc-300 hover:text-white">Dashboard</a>
              </li>
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3 class="text-sm font-semibold leading-6 text-white">Solutions</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a routerLink="/features" fragment="wizchat" class="text-sm leading-6 transition-colors duration-300 text-zinc-300 hover:text-white">WizChat</a>
              </li>
              <li>
                <a routerLink="/features" fragment="wizlern" class="text-sm leading-6 transition-colors duration-300 text-zinc-300 hover:text-white">WizLern</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold leading-6 text-white">Legal</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a onclick="window.displayPreferenceModal(); return false;" class="text-sm leading-6 transition-colors duration-300 cursor-pointer text-zinc-300 hover:text-white">Cookie Preferences</a>
              </li>
              <li>
                <a routerLink="/legal/cookie-policy" target="_blank" class="text-sm leading-6 transition-colors duration-300 text-zinc-300 hover:text-white">Cookie Policy</a>
              </li>
              <li>
                <a routerLink="/legal/privacy-policy" target="_blank" class="text-sm leading-6 transition-colors duration-300 text-zinc-300 hover:text-white">Privacy Policy</a>
              </li>
              <li>
                <a routerLink="/legal/terms-of-service" target="_blank" class="text-sm leading-6 transition-colors duration-300 text-zinc-300 hover:text-white">Terms of Service</a>
              </li>
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3 class="text-sm font-semibold leading-6 text-white">Support</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="mailto:support@codewiz.app" class="text-sm leading-6 transition-colors duration-300 text-zinc-300 hover:text-white">support@codewiz.app</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-8 mt-16 border-t border-white/10 sm:mt-20 lg:mt-24">
      <p class="text-xs leading-5 text-zinc-400">&copy; {{year}} CodeWiz. All rights reserved.</p>
    </div>
  </div>
</footer>
