<router-outlet></router-outlet>

<!--
<div
  class="h-full max-w-full max-h-full px-4 pt-24 overflow-x-hidden overflow-y-auto"
>
  <div class="w-full max-w-5xl mx-auto">
    <h2>CodeWhiz AI</h2>

    <form
      [formGroup]="scrapeUrlform"
      (ngSubmit)="parse()"
      class="flex flex-row items-end w-full mt-6 space-x-4"
    >
      <div class="flex-1">
        <p class="mb-2">Category Name:</p>
        <input
          formControlName="category"
          type="text"
          name="catName"
          placeholder="Type something..."
          class="block w-full px-3 py-2 rounded-md border-zin-800 bg-zinc-800 placeholder-zinc-400 text-zinc-200 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
        />
      </div>
      <div class="flex-1">
        <p class="mb-2">Docs page URL:</p>
        <input
          formControlName="url"
          type="text"
          name="catName"
          placeholder="Type something..."
          class="block w-full px-3 py-2 rounded-md border-zin-800 bg-zinc-800 placeholder-zinc-400 text-zinc-200 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
        />
      </div>
      <div>
        <button
          type="submit"
          [disabled]="buttonLoading"
          class="px-5 py-2 font-medium transition-all duration-300 bg-teal-500 rounded-md shadow-xl disabled:cursor-not-allowed disabled:opacity-50 text-zinc-900 hover:bg-teal-400 hover:shadow-2xl"
        >
          Fetch
        </button>
      </div>
    </form>

    <form
      [formGroup]="scrapeRepoform"
      (ngSubmit)="fetchRepo()"
      class="flex flex-row items-end w-full mt-6 space-x-4"
    >
      <div class="flex-1">
        <p class="mb-2">Creator and Repo:</p>
        <input
          formControlName="author"
          type="text"
          name="author"
          placeholder="Example: angular/angular (Case sensitive)"
          class="block w-full px-3 py-2 rounded-md border-zin-800 bg-zinc-800 placeholder-zinc-400 text-zinc-200 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
        />
      </div>
      <div class="flex-1">
        <p class="mb-2">Folder:</p>
        <input
          formControlName="folder"
          type="text"
          name="folder"
          placeholder="Example: aio/content/guide (Case sensitive)"
          class="block w-full px-3 py-2 rounded-md border-zin-800 bg-zinc-800 placeholder-zinc-400 text-zinc-200 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
        />
      </div>
      <div>
        <button
          type="submit"
          [disabled]="buttonLoading"
          class="px-5 py-2 font-medium transition-all duration-300 bg-teal-500 rounded-md shadow-xl disabled:cursor-not-allowed disabled:opacity-50 text-zinc-900 hover:bg-teal-400 hover:shadow-2xl"
        >
          Fetch
        </button>
      </div>
    </form>

    <div class="mt-8" *ngIf="result">
      <div class="flex flex-row items-center justify-between w-full">
        <p class="font-semibold text-zinc-50">Result:</p>
        <button
          type="button"
          (click)="loadEmbeddings()"
          [disabled]="buttonLoadingEmbeddings"
          class="px-5 py-2 font-medium transition-all duration-300 bg-teal-500 rounded-md shadow-xl disabled:cursor-not-allowed disabled:opacity-50 text-zinc-900 hover:bg-teal-400 hover:shadow-2xl"
        >
          Generate Embeddings
        </button>
      </div>
      <p class="mt-2 whitespace-pre-wrap">{{ result }}</p>
    </div>

    <div class="mt-8" *ngIf="repoFiles">
      <div class="flex flex-row items-center justify-between w-full mb-4">
        <p class="font-semibold text-zinc-50">Result:</p>
      </div>
      
			<div *ngFor="let item of repoFiles" class="flex flex-row items-center justify-between px-4 py-2 my-1 rounded-md bg-zinc-800">
				<div class="flex flex-row items-center space-x-2">
					<p class="pt-0 mt-0 font-semibold text-zinc-300">{{item.title}}</p>
					<p class="pt-0 mt-0 text-sm text-zinc-500">{{item.name}}</p>
				</div>

				<div class="flex flex-row items-center space-x-4">
					<p class="pt-0 mt-0 text-sm text-zinc-400" *ngIf="getExpectedSections(item.content.length) as sections">
						{{item.content.length}} characters
						<span *ngIf="sections > 1" class="text-xs text-zinc-500"> ({{sections}} sections)</span>
					</p>
	
					<p
						*ngIf="item.status"
						[ngClass]="{
							'text-teal-400': item.status === 'success',
							'text-red-400': item.status === 'failed',
							'text-amber-400': item.status === 'loading',
						}"
						class="pt-0 mt-0 text-sm"
					>
						{{item.status}}
					</p>
				</div>
			</div>
    </div>

		<div>
			<p class="mb-2">Ask something to the AI:</p>
        <input
          [formControl]="aiSearchControl"
          type="text"
          name="aiSearchControl"
          placeholder="Type something..."
					(keypress)="createQuery($event)"
          class="block w-full px-3 py-2 rounded-md border-zin-800 bg-zinc-800 placeholder-zinc-400 text-zinc-200 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
        />
				<p class="whitespace-pre-wrap">{{aiQuery}}</p>
		</div>
  </div>
</div>
-->