<div class="flex flex-row">

	<div contenteditable="false" class="relative w-full">
		<div
			(input)="handleDummyInputChange($event)"
			(keypress)="handleKeypress($event)"
			contenteditable="true"
			name="query"
			id="query"
			class="relative block w-full px-4 py-2.5 text-base border-0 rounded-md outline-none h-fit bg-zinc-950 placeholder:text-zinc-600 focus:border-0 focus:ring-0 text-zinc-50"
		></div>
		<ng-container *ngIf="!textInput.value">
			<p class="absolute top-2.5 pt-0 mt-0 pointer-events-none text-zinc-600 left-4 pl-[0.05rem]">Ask something...</p>
		</ng-container>
	</div>
	
</div>

<p class="max-w-full mt-3 text-xs font-medium text-center pointer-events-none text-zinc-500">CodeWhizAi is experimental and may prodyce incorrect answers. Always verify the output before executing.</p>