<div class="absolute bottom-0 z-40 w-full max-w-5xl mr-2 -translate-x-1/2 pointer-events-none left-1/2 pt-36 bg-gradient-to-t from-zinc-950 via-zinc-950/70 to-transparent"></div>

<div class="relative z-50 flex flex-row w-full pointer-events-none">

	<div class="w-full mb-4 pointer-events-auto">
		<div contenteditable="false" class="relative w-full max-w-3xl mx-auto rounded-md shadow-2xl bg-zinc-800/80 backdrop-blur-sm border-2 border-zinc-700 py-2.5">
			<div
				(input)="handleDummyInputChange($event)"
				(keypress)="handleKeypress($event)"
				#textArea
				contenteditable="true"
				contenteditable="plaintext-only"
				name="query"
				id="query"
				class="relative block w-full px-4 overflow-y-auto text-base border-0 outline-none max-h-52 h-fit focus:border-0 focus:ring-0 text-zinc-50"
			></div>
			<ng-container *ngIf="!textInput.value">
				<p class="absolute top-2.5 pt-0 mt-0 pointer-events-none text-zinc-500 left-4 pl-[0.05rem]">Ask something...</p>
			</ng-container>
		</div>

		<p class="max-w-3xl mx-auto mt-3 text-xs font-medium text-center pointer-events-none text-zinc-500">CodeWhizAi is experimental and may produce incorrect answers. Always verify the output before executing.</p>
	</div>
	
</div>
