<ng-template #formErrorsIcon>
	<div class="inline-block p-1 text-red-700 transform bg-red-200 rounded-full w-min">
		<svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M16.2178 21H7.78313C4.83503 21 3 18.9188 3 15.9736V8.02638C3 5.08119 4.83503 3 7.78411 3H16.2178C19.1659 3 21 5.08119 21 8.02638V15.9736C21 18.9188 19.1572 21 16.2178 21Z" stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M12.0059 8.10742V11.9993M12.0059 15.6926V15.7407" stroke="currentColor"  stroke-width="1.5"  stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	</div>
</ng-template>


<div class="w-full max-w-sm mx-auto lg:w-96">
	<div>
		<img class="w-auto h-12" src="assets/logo/svg/codewhiz_logo.svg" alt="CodeWiz">
		<h2 class="mt-6 text-3xl font-bold text-zinc-100">Reset your password</h2>
	</div>

	<div class="mt-8">
		<ng-container [ngSwitch]="mode">

			<ng-container *ngSwitchCase="'resetPassword'">
				<p class="mt-0 mb-6 text-zinc-400">
					Email verification is completed! Now you can reset your password.
				</p>

				<form [formGroup]="resetPswForm" (ngSubmit)="resetPassword()">
					<div>
						<label for="email" class="block text-sm font-medium text-zinc-400">Password</label>
						<div class="mt-1">
							<input formControlName="password" id="password" name="password" type="password" autocomplete="new-password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{0,30}$" required class="block w-full rounded-md py-1.5 shadow-sm ring-inset border border-zinc-600 focus:border-indigo-600 placeholder:text-zinc-400 text-zinc-200 focus:outline-none outline-indigo-500 bg-zinc-800 focus:ring-2 transition-all duration-300 ring-0 ring-indigo-600 focus:ring-indigo-600 sm:text-sm sm:leading-6">
						</div>
					</div>

					<div class="mt-4">
						<label for="email" class="block text-sm font-medium text-zinc-400">Confirm your password</label>
						<div class="mt-1">
							<input formControlName="passwordConfirm" id="password" name="password" type="password" autocomplete="new-password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{0,30}$" required class="block w-full rounded-md py-1.5 shadow-sm ring-inset border border-zinc-600 focus:border-indigo-600 placeholder:text-zinc-400 text-zinc-200 focus:outline-none outline-indigo-500 bg-zinc-800 focus:ring-2 transition-all duration-300 ring-0 ring-indigo-600 focus:ring-indigo-600 sm:text-sm sm:leading-6">
						</div>
					</div>

					<ng-container *ngIf="resetPswForm.controls.password.touched && resetPswForm.controls.password.invalid">
						<span class="flex flex-row items-center gap-4 my-5 text-sm font-medium text-red-400">
							<ng-container *ngIf="resetPswForm.controls.password.invalid && !resetPswForm.controls.password.errors?.['pattern']">
								<ng-container *ngTemplateOutlet="formErrorsIcon"></ng-container>
								<span>{{ getPasswErrMsg() }}</span>
							</ng-container>
							<ng-container *ngIf="resetPswForm.controls.password.errors?.['pattern']">
								<ng-container *ngTemplateOutlet="formErrorsIcon"></ng-container>
								<span>The password must contain at least one uppercase letter, one lowercase letter and a number.</span>
							</ng-container>
						</span>
					</ng-container>

					<ng-container *ngIf="resetPswForm.controls.passwordConfirm.touched && resetPswForm.controls.password.value !== resetPswForm.controls.passwordConfirm.value">
						<span class="flex flex-row items-center gap-4 my-5 text-sm font-medium text-red-400">
							<ng-container *ngTemplateOutlet="formErrorsIcon"></ng-container>
							<span>Passwords do not match</span>
						</span>
					</ng-container>

					<div class="flex items-center justify-between mt-10">
						<button
							(click)="resetPassword()"
							[disabled]="!this.canResetPsw() || !resetPswForm.get('password')?.value"
							type="submit"
							class="inline-flex items-center justify-center w-full px-3 py-1.5 text-base font-medium text-white active:outline-none transition-all duration-300 bg-indigo-600 rounded-md shadow-sm hover:bg-indigo-500 disabled:hover:bg-indigo-600 hover:ring-2 disabled:hover:ring-0 hover:ring-offset-2 disabled:hover:ring-offset-0 ring-offset-zinc-900 hover:ring-indigo-600 disabled:cursor-not-allowed disabled:opacity-50"
						>
							<span>Reset password</span>
						</button>
					</div>
				</form>
			</ng-container>

			<ng-container *ngSwitchCase="'verifyEmailCode'">
				<p class="mt-0 mb-6 text-zinc-400">
					Link has been sent. The email can take up to 2 minutes to be sent. If you didn't receive any email check your Spam folder or wait 2 minutes and click on "Send the code"
				</p>

				<ng-container *ngIf="serverErrMessage">
					<span class="flex flex-row items-center gap-4 my-5 text-sm font-medium text-red-400">
						<ng-container *ngTemplateOutlet="formErrorsIcon"></ng-container>
						<span>{{ serverErrMessage }}</span>
					</span>
        </ng-container>

				<div class="flex items-center justify-between mt-10 space-x-2">
					<button
						type="button"
						routerLink="/auth/login"
						class="inline-flex justify-center w-full px-3 py-2 transition-colors duration-300 rounded-md shadow-sm cursor-pointer bg-zinc-800 text-zinc-200 ring-1 ring-inset ring-zinc-600 hover:bg-zinc-700 focus:outline-offset-0"
					>
						Back to Login
					</button>

					<button
						type="button"
						(click)="sendAnotherLink()"
						[disabled]="sendAnotherLinkBtnDisabled"
						class="inline-flex items-center justify-center w-full px-3 py-1.5 text-base font-medium text-white active:outline-none transition-all duration-300 bg-indigo-600 rounded-md shadow-sm hover:bg-indigo-500 disabled:hover:bg-indigo-600 hover:ring-2 disabled:hover:ring-0 hover:ring-offset-2 disabled:hover:ring-offset-0 ring-offset-zinc-900 hover:ring-indigo-600 disabled:cursor-not-allowed disabled:opacity-50"
					>
						<span>{{ sendAnotherLinkBtnDisabled ? 'Wait ' + timePassing + 's...' : 'Send the code' }}</span>
					</button>
				</div>
			</ng-container>

			<ng-container *ngSwitchCase="'verifyEmail'">
				<p class="mt-0 mb-6 text-zinc-400">
					Confirm your email address, we will send you a link to reset your password.					
				</p>

				<form [formGroup]="verifyEmail" (ngSubmit)="sendResPswEmail()">
					<div>
						<label for="email" class="block text-sm font-medium text-zinc-400">Email address</label>
						<div class="mt-1">
							<input formControlName="verifyEmailInput" id="email" name="email" type="email" autocomplete="email" required class="block w-full rounded-md py-1.5 shadow-sm ring-inset border border-zinc-600 focus:border-indigo-600 placeholder:text-zinc-400 text-zinc-200 focus:outline-none outline-indigo-500 bg-zinc-800 focus:ring-2 transition-all duration-300 ring-0 ring-indigo-600 focus:ring-indigo-600 sm:text-sm sm:leading-6">
						</div>

						<ng-container *ngIf="verifyEmail.controls.verifyEmailInput.touched && verifyEmail.controls.verifyEmailInput.invalid">
							<span class="flex flex-row items-center gap-4 my-5 text-sm font-medium text-red-400">
								<ng-container *ngTemplateOutlet="formErrorsIcon"></ng-container>
								<span>{{ getEmailErrMsg() }}</span>
							</span>
            </ng-container>

						<ng-container *ngIf="serverErrMessage">
							<span class="flex flex-row items-center gap-4 my-5 text-sm font-medium text-red-400">
								<ng-container *ngTemplateOutlet="formErrorsIcon"></ng-container>
								<span>{{ serverErrMessage }}</span>
							</span>
            </ng-container>
					</div>

					<div class="flex items-center justify-between mt-10 space-x-2">
						<button
							type="button"
							routerLink="/auth/login"
							class="inline-flex justify-center w-full px-3 py-2 transition-colors duration-300 rounded-md shadow-sm cursor-pointer bg-zinc-800 text-zinc-200 ring-1 ring-inset ring-zinc-600 hover:bg-zinc-700 focus:outline-offset-0"
						>
							Back to Login
						</button>

						<button
							type="submit"
							[disabled]="!verifyEmail.controls.verifyEmailInput.valid || showLoadingBtn"
							class="inline-flex items-center justify-center w-full px-3 py-1.5 text-base font-medium text-white active:outline-none transition-all duration-300 bg-indigo-600 rounded-md shadow-sm hover:bg-indigo-500 disabled:hover:bg-indigo-600 hover:ring-2 disabled:hover:ring-0 hover:ring-offset-2 disabled:hover:ring-offset-0 ring-offset-zinc-900 hover:ring-indigo-600 disabled:cursor-not-allowed disabled:opacity-50"
						>
							<svg
								[ngClass]="{
									'mr-2 opacity-100 -ml-0': showLoadingBtn,
									'mr-0 opacity-0 -ml-4': !showLoadingBtn
								}"							
								xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="w-4 h-4 mr-2 transition-all duration-300" style="shape-rendering: auto;" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"
							>
								<circle cx="50" cy="50" fill="none" class="stroke-zinc-100" stroke-width="10" r="42" stroke-dasharray="197.92033717615698 67.97344572538566">
									<animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
								</circle>
							</svg>
							<span>Verify Email</span>
						</button>
					</div>
				</form>
			</ng-container>
		</ng-container>

	</div>
</div>