<div class="relative w-full h-full">
  <svg viewBox="0 0 120 120" class="absolute w-full h-full">
		<!-- Background circle -->
		<g class="text-zinc-950">
			<circle cx="60" cy="60" r="50" fill="none" stroke="currentColor" stroke-width="10"></circle>
		</g>
		<!-- Progress circle -->
		<g class="text-pink-600 origin-center rotate-90">
			<circle cx="60" cy="60" r="50" fill="none" stroke="currentColor" stroke-width="10"
				[attr.stroke-dasharray]="CIRCUMFERENCE"
				[attr.stroke-dashoffset]="offset"></circle>
		</g>
	</svg>
</div>