<div class="px-6 pt-24 mx-auto text-center max-w-7xl sm:pt-32 lg:px-8">
	<div class="max-w-4xl mx-auto">
		<p class="text-base font-bold leading-7 text-indigo-400">Pricing</p>
		<h1 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-5xl">Coding Dreams,<br/>Priced Just Right.</h1>
	</div>
	<div class="relative mt-6">
		<p class="max-w-2xl mx-auto text-lg leading-8 text-white/60">Every coder has a unique journey, and our pricing is tailored to ensure yours is exceptional. Discover plans built for tangible coding growth.</p>

		<svg viewBox="0 0 1208 1024" class="absolute -top-10 left-1/2 opacity-40 -z-10 h-[64rem] -translate-x-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:-top-12 md:-top-20 lg:-top-12 xl:top-0">
			<ellipse cx="604" cy="512" fill="url(#6d1bd035-0dd1-437e-93fa-59d316231eb0)" rx="604" ry="512" />
			<defs>
				<radialGradient id="6d1bd035-0dd1-437e-93fa-59d316231eb0">
					<stop stop-color="#7775D6" />
					<stop offset="1" stop-color="#E935C1" />
				</radialGradient>
			</defs>
		</svg>
	</div>
</div>

