<div class="relative w-full group/menu">
	<button
		(click)="searchDocsInput.focus()"
		[ngClass]="{
			'px-2 py-1': size !== 'lg',
			'px-3 py-2': size === 'lg'
		}"
		class="relative z-20 flex flex-row items-center w-full space-x-2 transition-all duration-300 border rounded-md outline-none group-focus-within/menu:outline-none bg-zinc-950 group-hover/menu:bg-zinc-900 group-focus-within/menu:bg-zinc-900 text-zinc-400 border-zinc-600 group-hover/menu:border-zinc-200 group-focus-within/menu:border-zinc-200 group-hover/menu:text-zinc-200 group-focus-within/menu:text-zinc-200"
	>
		<ng-container *ngIf="repo && repo?.name && repo?.id && repo?.logo; else noRepo">
			<img
				ixImg
				[alt]="repo.name"
				priority
				loading="lazy"
				[width]="1"
				[height]="1"
				[path]="repo.logo"
				class="w-5 h-5 shrink-0"
			>
		</ng-container>

		<ng-template #noRepo>
			<svg class="w-5 h-5 shrink-0" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M9.07331 9.59389C7.74574 9.59389 6.66895 8.5171 6.66895 7.18952C6.66895 5.86195 7.74574 4.78516 9.07331 4.78516C10.4009 4.78516 11.4777 5.86195 11.4777 7.18952C11.4777 8.5171 10.4009 9.59389 9.07331 9.59389Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M9.07331 20.0001C7.74574 20.0001 6.66895 18.9234 6.66895 17.5958C6.66895 16.2682 7.74574 15.1914 9.07331 15.1914C10.4009 15.1914 11.4777 16.2682 11.4777 17.5958C11.4777 18.9234 10.4009 20.0001 9.07331 20.0001Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M15.2196 11.7209L15.203 11.7043M17.169 15.4923C15.8414 15.4923 14.7646 14.4155 14.7646 13.088C14.7646 11.7604 15.8414 10.6836 17.169 10.6836C18.4966 10.6836 19.5734 11.7604 19.5734 13.088C19.5734 14.4155 18.4966 15.4923 17.169 15.4923Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M9.07324 9.59375V15.1898" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M15.2025 11.705L10.9648 8.67578" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M7.05873 5.8788L4.42676 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		</ng-template>
		
		<input
			type="text"
			#searchDocsInput
			[formControl]="searchInput"
			(focus)="onFocus()"
			(blur)="onBlur()"
			(keydown)="handleKeypress($event)"
			[placeholder]="repo?.name || placeholder"
			[ngClass]="{
				'placeholder:text-zinc-200': repo?.name,
				'placeholder:text-zinc-400/70': !repo?.name,
			}"
			class="w-full p-0 m-0 transition-colors duration-300 bg-transparent border-none outline-none text-zinc-200 placeholder:text-zinc-400/70 focus:outline-none ring-0 focus:ring-0 focus:border-none"
		>
		
		<svg class="w-4 h-4 transition-opacity duration-300 origin-center opacity-50 shrink-0 group-focus-within/menu:opacity-100" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<g id="Iconly/Light/Search" stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
				<g id="Search" transform="translate(2.000000, 2.000000)" stroke="currentColor" stroke-width="2" >
					<circle id="Ellipse_739" cx="9.76659044" cy="9.76659044" r="8.9885584"></circle>
					<line x1="16.0183067" y1="16.4851259" x2="19.5423342" y2="20.0000001" id="Line_181"></line>
				</g>
			</g>
		</svg>
	</button>

	<div
		[ngClass]="{
			'top-10': size !== 'lg',
			'top-12': size === 'lg',
		}"
		class="absolute left-0 z-[100] flex flex-col w-full overflow-hidden transition-all duration-300 -translate-y-2 divide-y rounded-md shadow-md opacity-0 pointer-events-none divide-zinc-600 bg-zinc-800 shadow-black group-focus-within/menu:-translate-y-0 group-focus-within/menu:opacity-100 group-focus-within/menu:pointer-events-auto"
	>
		<ng-container *ngIf="docsListLoaded; else docsListNotLoaded">

			<nav class="h-full overflow-y-auto max-h-72" aria-label="Supported Docs" *ngIf="filteredDocs.length > 0; else noFilteredDocs">
				<ng-container *ngFor="let group of filteredDocsGroups">
					<div *ngIf="group.repos.length > 0" class="relative">
						<div class="sticky top-0 z-10 px-2 py-1 bg-zinc-900">
							<p class="text-sm font-medium leading-6 tracking-wider truncate text-zinc-50">{{group.name}}</p>
						</div>
						<ul role="list">
							<ng-container *ngFor="let doc of group.repos; let i = index">
								<li *ngIf="doc.visibility === 'public' || (hasPermissions(doc, userRoles))">
									<button
										#el
										[ngClass]="{
											'bg-zinc-700 cursor-default': doc.id === cacheRepo?.id,
											'bg-transparent hover:bg-zinc-700/50 cursor-pointer': doc.id !== cacheRepo?.id && (filteredDocs.at(selectedIndex)?.id !== doc.id || !searchInput.value),
											'bg-zinc-700/50 cursor-pointer': filteredDocs.at(selectedIndex)?.id === doc.id && doc.id !== cacheRepo?.id && searchInput.value,
										}"
										(click)="selectDoc(undefined, doc.id)"
										class="flex flex-row items-center w-full px-2 py-2 space-x-2 transition-colors duration-300 group"
									>
										<img
											ixImg
											[alt]="doc.name"
											priority
											loading="eager"
											priority
											[width]="1"
											[height]="1"
											[path]="doc.logo"
											class="w-5 h-5 shrink-0"
										>
							
										<p
											[ngClass]="{
												'text-zinc-200': doc.id === cacheRepo?.id,
												'text-zinc-400': doc.id !== cacheRepo?.id,
											}"
											class="w-full text-left truncate duration-300 group-hover:text-zinc-200"
										>{{doc.name}}</p>
		
										<div *ngIf="(doc.id !== cacheRepo?.id) && filteredDocs.at(selectedIndex)?.id === doc.id && searchInput?.value">
											<kbd class="p-0.5 bg-zinc-950/40 rounded-md px-1.5 inline-block mx-0.5 text-xs text-zinc-400">Enter</kbd>
										</div>
		
										<div *ngIf="doc.id === cacheRepo?.id" class="pr-2 shrink-0">
											<div class="w-2 h-2 rounded-full bg-sky-500"></div>
										</div>
									</button>
								</li>
							</ng-container>
						</ul>
					</div>
				</ng-container>
			</nav>

			<ng-template #noFilteredDocs>
				<p class="p-2 text-xs text-center truncate">No results<ng-container *ngIf="searchInput.value"> for <b class="text-zinc-300">{{searchInput.value}}</b></ng-container></p>
			</ng-template>

			<div class="px-4 py-1.5" *ngIf="searchInput.value">
				<p class="text-sm text-center text-zinc-400">You can also use <kbd class="p-0.5 bg-zinc-950 rounded-md px-1.5 inline-block mx-0.5 text-xs">↑</kbd> <kbd class="p-0.5 text-xs bg-zinc-950 rounded-md px-1.5 inline-block mx-0.5">↓</kbd></p>
			</div>
		</ng-container>
		<ng-template #docsListNotLoaded>
			<div class="flex flex-row items-center justify-center p-2 space-x-2">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="w-4 h-4 shrink-0 animate-spin" style="shape-rendering: auto;">
					<circle cx="50" cy="50" fill="none" stroke-width="7" r="42" stroke-dasharray="197.92033717615698 67.97344572538566" class="stroke-zinc-400">
					</circle>
				</svg>
				<p class="text-xs">Loading supported docs...</p>
			</div>
		</ng-template>
	</div>
</div>