<div
	[ngClass]="{
		'pointer-events-none': !show,
		'pointer-events-auto': show,
	}"
	class="max-w-md px-6 mx-auto select-none w-fit">
	<a
		[ngClass]="{
			'opacity-0 -translate-y-4': !show,
			'opacity-100 -translate-y-0': show,
		}"
		[href]="status.link"
		target="_blank"
		class="flex flex-row items-center px-2 py-0.5 transition-all cursor-pointer duration-300 -translate-y-4 rounded-full shadow-lg opacity-0 group bg-zinc-950/70 border-2 border-zinc-800 backdrop-blur"
	>
		<span class="relative flex w-2.5 h-2.5">
			<span
				[ngClass]="{
					'bg-teal-400': status.indicator === indicators.None,
					'bg-yellow-400': status.indicator === indicators.Minor,
					'bg-amber-500': status.indicator === indicators.Major,
					'bg-red-400': status.indicator === indicators.Critical,
				}"
				[ngStyle]="{'animation-iteration-count': show ? 5 : 1}"
				class="absolute inline-flex w-full h-full rounded-full opacity-75 animate-ping"></span>
			<span
				[ngClass]="{
					'bg-teal-400': status.indicator === indicators.None,
					'bg-yellow-400': status.indicator === indicators.Minor,
					'bg-amber-500': status.indicator === indicators.Major,
					'bg-red-400': status.indicator === indicators.Critical,
				}"
				class="relative inline-flex w-2.5 h-2.5 rounded-full"></span>
		</span>
	
		<p *ngIf="status.title" class="inline-block max-w-full px-2 py-1 text-xs truncate transition-all group-hover:whitespace-normal">
			<span *ngIf="status.title" class="font-normal text-zinc-100">{{status.title}}</span>
			<span *ngIf="status.title && status.message" class="font-normal text-zinc-100">:</span>
			<span *ngIf="status.message" class="font-normal text-zinc-400">
				{{status.message}}
			</span>
		</p>
	</a>
</div>