<div class="relative px-6 py-20 overflow-hidden sm:bg-zinc-900/50 sm:backdrop-blur isolate sm:rounded-3xl sm:px-10 sm:py-24 lg:py-24 xl:px-24">
	<div class="pointer-events-none absolute left-12 top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-3xl lg:bottom-[-12rem] lg:top-auto lg:translate-y-0 lg:transform-gpu" aria-hidden="true">
		<div class="aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-25" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
	</div>
	
  <div class="px-6 mx-auto max-w-7xl lg:px-8">
    <div class="max-w-2xl mx-auto sm:text-center">
      <h2 id="features-title" class="text-base font-semibold leading-7 text-indigo-400">Wiz Chat</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">A Chat That Understands Developers</p>
      <p class="mt-6 text-lg leading-8 text-zinc-300">Step into the future with Wiz Chat, where your queries get instant, on-point answers. Ditch the endless scrolling and let our AI-powered guru guide your coding odyssey with flair and finesse. It's not just a chat - it's coding magic at your fingertips!</p>
    </div>
  </div>
  <div class="relative pt-16">
    <div class="px-6 py-px mx-auto scale-125 max-w-7xl lg:px-8 mask-image sm:scale-100">
			<img
				ixImg
				alt="Wiz chat feature image"
				loading="lazy"
				[width]="1921"
				[height]="933"
				path="/site/assets/wizchat_feature.png"
				class="mb-[-8%] rounded-md md:rounded-xl shadow-2xl ring-1 ring-white/10"
			>
    </div>
  </div>
  <div class="px-6 mx-auto mt-16 max-w-7xl sm:mt-20 md:mt-24 lg:px-8">
    <dl class="grid max-w-2xl grid-cols-1 mx-auto text-base leading-7 gap-x-6 gap-y-10 text-zinc-300 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
      <div class="relative pl-9">
        <dt class="inline font-semibold text-white">
					<svg class="absolute w-5 h-5 text-indigo-500 left-1 top-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M11.3066 3.4124L4.61163 12.6341C4.13391 13.2919 4.60385 14.2133 5.41627 14.2133H10.8931V20.0033C10.8931 20.9666 12.1278 21.3684 12.694 20.5871L19.389 11.3664C19.8667 10.7086 19.3968 9.78627 18.5843 9.78627H13.1066V3.99715C13.1066 3.03295 11.8728 2.63209 11.3066 3.4124Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
          Immediate Answers, No Delays.
        </dt>
        <dd class="block">Fast-track your coding with immediate, spot-on answers. With Wiz Chat, it's instant clarity every time you hit 'send'.</dd>
      </div>
      <div class="relative pl-9">
        <dt class="inline font-semibold text-white">
					<svg class="absolute w-5 h-5 text-indigo-500 left-1 top-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3 15.5308V17.1079C3 19.2572 4.74259 20.9998 6.89286 20.9998H8.14994" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M3 8.46907V6.89189C3 4.74259 4.74259 3 6.89286 3H8.18205" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M20.9995 8.46907V6.89189C20.9995 4.74259 19.257 3 17.1067 3H15.8496" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M18.9539 15.1029C18.9539 12.8252 17.1072 10.9785 14.8295 10.9785C12.5518 10.9785 10.7051 12.8252 10.7051 15.1029C10.7051 17.3807 12.5518 19.2264 14.8295 19.2264C17.1072 19.2264 18.9539 17.3807 18.9539 15.1029Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M17.6367 18.124L19.859 20.3424" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
          Context is King: A Chat that Gets It.
        </dt>
        <dd class="block">Say hello to a chat that <i>truly</i> gets you. Dive into nuanced, context-aware solutions that feel just like magic.</dd>
      </div>
      <div class="relative pl-9">
        <dt class="inline font-semibold text-white">
					<svg class="absolute w-5 h-5 text-indigo-500 left-1 top-1" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.6599 18.9243C13.099 19.1676 8.07966 14.7466 7.18457 10.9609" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M3.5 6.05469H17.0071" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M9.9043 4.375V6.05719" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M11.9766 21.1585L16.7381 11.832L21.4996 21.1585" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M13.8454 6.05469C13.9592 6.29305 13.3793 14.6972 4.08398 17.5411" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
          One Chat, Multiple Languages.
        </dt>
        <dd class="block">English? Spanish? More? Wiz Chat speaks your language, turning global coding dialects into a universal chat narrative.</dd>
      </div>
      <div class="relative pl-9">
        <dt class="inline font-semibold text-white">
					<svg class="absolute w-5 h-5 text-indigo-500 left-1 top-1" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<g id="Iconly/Light/Paper" stroke="currentColor" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
							<g id="Paper" transform="translate(3.500000, 2.000000)" stroke="currentColor" stroke-width="1.5" >
								<path d="M11.2378,0.761771171 L4.5848,0.761771171 C2.5048,0.7538 0.7998,2.4118 0.7508,4.4908 L0.7508,15.2038 C0.7048,17.3168 2.3798,19.0678 4.4928,19.1148 C4.5238,19.1148 4.5538,19.1158 4.5848,19.1148 L12.5738,19.1148 C14.6678,19.0298 16.3178,17.2998 16.3029015,15.2038 L16.3029015,6.0378 L11.2378,0.761771171 Z" id="Stroke-1"></path>
								<path d="M10.9751,0.75 L10.9751,3.659 C10.9751,5.079 12.1231,6.23 13.5431,6.234 L16.2981,6.234" id="Stroke-3"></path>
								<line x1="10.7881" y1="13.3585" x2="5.3881" y2="13.3585" id="Stroke-5"></line>
								<line x1="8.7432" y1="9.606" x2="5.3872" y2="9.606" id="Stroke-7"></line>
							</g>
						</g>
					</svg>
          Docs at Your Fingertips.
        </dt>
        <dd class="block">Answers with receipts! Get insights directly linked to their source. Dive deeper or just appreciate the transparency, it's all there.</dd>
      </div>
      <div class="relative pl-9">
        <dt class="inline font-semibold text-white">
					<svg class="absolute w-5 h-5 text-indigo-500 left-1 top-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M21 12.0817V8.02638C21 5.08119 19.1659 3 16.2178 3H7.78216C4.84281 3 3 5.08119 3 8.02638V15.9736C3 18.9188 4.83405 21 7.78216 21H9.53254" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M21 9.49121H3" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M6.34452 6.5498H6.28906M8.83206 6.5498H8.7766M11.3177 6.5498H11.2622" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M18.2728 19.2455C17.008 20.5094 14.9589 20.5094 13.694 19.2455C12.4301 17.9816 12.4301 15.9315 13.694 14.6667C14.9589 13.4028 17.008 13.4028 18.2728 14.6667C19.5367 15.9315 19.5367 17.9816 18.2728 19.2455ZM18.2728 19.2455L20.0265 20.9997" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
          When Docs Aren't Enough.
        </dt>
        <dd class="block">Beyond docs, Wiz Chat dives into Google, fetching top coding insights. It's your chat, now a web wizard. <span class="flex mt-0.5 items-center px-2 py-1 text-xs font-medium text-purple-400 rounded-md w-fit bg-purple-400/10 ring-1 ring-inset ring-purple-400/30">Coming Soon</span></dd>
      </div>
      <div class="relative pl-9">
        <dt class="inline font-semibold text-white">
					<svg class="absolute w-5 h-5 text-indigo-500 left-1 top-1" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M7.5332 17.6836H15.7193" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M7.69531 13.6836L15.6767 15.5029" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M9.06641 9.90234L16.5625 13.192" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M11.417 6.34375L17.7548 11.5249" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M14.4316 3.38281L19.3862 9.8993" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M18.8324 15.7578L18.8324 18.4902C18.8324 20.6548 17.4837 21.3828 15.3162 21.3828H8.12801C5.96125 21.3828 4.61328 20.6548 4.61328 18.4902V15.7578" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
          Chat-to-Stack in a Snap.
        </dt>
        <dd class="block">Transform chats into StackOverflow issues instantly. Wiz Chat crafts a context-rich issue, ready to post. <span class="flex mt-0.5 items-center px-2 py-1 text-xs font-medium text-purple-400 rounded-md w-fit bg-purple-400/10 ring-1 ring-inset ring-purple-400/30">Coming Soon</span></dd>
      </div>
    </dl>
  </div>
</div>
