<img src="https://emojigraph.org/media/apple/man-mage_1f9d9-200d-2642-fe0f.png" alt="Wizard" class="block" width="1" height="1" loading="eager" class="block w-12 h-12 mb-4">
<div class="max-w-prose">
	<h2 class="text-4xl">
		Let's create a new <span class="inline text-transparent bg-gradient-to-r pr-1 from-[#ec4899] font-black to-[#8B5CF6] bg-clip-text italic">Lern</span><br class="hidden md:block"/>
		just for You.
	</h2>
	
	<p class="mt-8">
		Embark on your coding quest by selecting your preferred documentation. Whether it's the dynamics of React.js or the intricacies of Angular, your choice lights the path ahead.
	</p>

	<div class="max-w-xs mt-8">
		<app-search-repo-autocomplete
			size="lg"
			[autoSelect]="false"
			(onRepo)="selectRepo($event)"
		></app-search-repo-autocomplete>
	</div>

	<button
		[disabled]="!selectedRepo || loading"
		(click)="submit()"
		class="rounded-md disabled:opacity-40 mr-auto disabled:cursor-not-allowed px-3.5 py-2.5 mt-8 flex items-center justify-center space-x-2 text-sm font-semibold bg-indigo-600 hover:bg-indigo-500 disabled:hover:bg-indigo-600 ring-indigo-400 hover:ring-indigo-400 focus-visible:outline-indigo-600 text-white shadow-sm hover:ring-2 disabled:ring-0 disabled:ring-offset-0 hover:ring-offset-1 ring-offset-zinc-950 transition-all duration-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
	>
		<svg [ngClass]="{ '-ml-8 opacity-0': !loading, '-ml-0 opacity-100': loading }" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="w-4 h-4 mr-2 transition-all duration-300 pointer-events-none shrink-0 animate-spin" style="shape-rendering: auto;">
			<circle cx="50" cy="50" fill="none" stroke-width="7" r="42" stroke-dasharray="197.92033717615698 67.97344572538566" class="stroke-white">
			</circle>
		</svg>

		<span>Let's start</span>
		
		<svg class="w-4 h-4 shrink-0" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<g id="Iconly/Light/Arrow---Right" stroke="currentColor" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
				<g id="Arrow---Right" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000) translate(5.500000, 4.000000)" stroke="currentColor" stroke-width="1.5" >
					<line x1="6.7743" y1="15.75" x2="6.7743" y2="0.75" id="Stroke-1"></line>
					<polyline id="Stroke-3" points="12.7987 9.7002 6.7747 15.7502 0.7497 9.7002"></polyline>
				</g>
			</g>
		</svg>
	</button>
</div>

<div class="mt-16">
	<app-latest-courses>
	</app-latest-courses>
</div>