<div>
  <div class="py-24 mx-auto max-w-7xl sm:px-6 sm:py-32 lg:px-8">
    <div class="relative px-6 py-24 overflow-hidden text-center shadow-2xl isolate sm:bg-gradient-to-tr from-zinc-900/50 to-zinc-950 sm:backdrop-blur sm:rounded-3xl sm:px-16">
      <h2 class="max-w-2xl mx-auto text-3xl font-bold tracking-tight text-white sm:text-4xl"><span class="inline text-transparent bg-gradient-to-r from-[#ec4899] to-[#8B5CF6] bg-clip-text">CodeWiz</span> Awaits:<br/>Unlock Your <span class="hidden sm:inline">Full </span>Potential.</h2>
      <p class="max-w-xl mx-auto mt-6 text-lg leading-8 text-zinc-300">Step into tomorrow's way of mastering coding. CodeWiz brings AI-driven insights to the table, making every challenge a breeze.</p>
      <div class="relative z-10 flex flex-col items-center justify-center mt-10 gap-y-3">
        <a routerLink="/auth/signup" class="rounded-md bg-indigo-600 px-3.5 py-2.5 flex items-center space-x-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 hover:ring-2 hover:ring-offset-1 ring-offset-zinc-950 ring-indigo-400 hover:ring-indigo-400 transition-all duration-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
					<span>Grab Your Free Pass</span>
					<svg class="w-4 h-4 shrink-0" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<g id="Iconly/Light/Arrow---Right" stroke="currentColor" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
							<g id="Arrow---Right" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000) translate(5.500000, 4.000000)" stroke="currentColor" stroke-width="1.5" >
								<line x1="6.7743" y1="15.75" x2="6.7743" y2="0.75" id="Stroke-1"></line>
								<polyline id="Stroke-3" points="12.7987 9.7002 6.7747 15.7502 0.7497 9.7002"></polyline>
							</g>
						</g>
					</svg>
				</a>
        <p class="text-sm">Step into smarter learning at zero cost.</p>
      </div>
      <svg viewBox="0 0 1024 1024" class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-x-1/2 [mask-image:radial-gradient(closest-side,white,transparent)]" aria-hidden="true">
        <circle cx="512" cy="512" r="512" fill="url(#827591b1-ce8c-4110-b064-7cb85a0b1217)" fill-opacity="0.7" />
        <defs>
          <radialGradient id="827591b1-ce8c-4110-b064-7cb85a0b1217">
            <stop stop-color="#7775D6" />
            <stop offset="1" stop-color="#E935C1" />
          </radialGradient>
        </defs>
      </svg>

			<div class="absolute bottom-0 left-0 w-full h-56 pointer-events-none sm:hidden bg-gradient-to-b from-transparent via-zinc-950/50 to-zinc-950"></div>
    </div>
  </div>
</div>
