<section id="reviews" aria-labelledby="reviews-title" class="pt-20 pb-16 sm:pb-24 sm:pt-32">
  <div class="relative px-6 mx-auto max-w-7xl lg:px-8">
    <h2 id="reviews-title" class="relative z-20 text-3xl font-medium tracking-tight text-zinc-100 sm:text-center">CodeWiz Spotlight</h2>
    <p class="relative z-20 mx-auto mt-2 text-lg text-zinc-400 sm:text-center max-w-prose">Celebrating the platforms and places where CodeWiz shined its <span class="inline tracking-tight text-transparent bg-gradient-to-r from-[#ec4899] to-[#8B5CF6] bg-clip-text font-semibold">brightest</span>!</p>

		<div class="grid grid-cols-1 mt-12 gap-y-4 sm:mx-auto md:grid-cols-3 gap-x-4 max-w-fit">
			<a href="https://www.producthunt.com/posts/codewiz?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-codewiz" target="_blank" rel="noopener noreferrer" class="relative group">
				<img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=414541&theme=light" alt="CodeWiz - Your&#0032;Coding&#0032;Challenges&#0063;&#0032;Solved&#0032;with&#0032;AI&#0044;&#0032;One&#0032;Chat&#0032;at&#0032;a&#0032;Time&#0033; | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" class="transition-all duration-300 opacity-0 group-hover:opacity-100" />
				<img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=414541&theme=dark" alt="CodeWiz - Your&#0032;Coding&#0032;Challenges&#0063;&#0032;Solved&#0032;with&#0032;AI&#0044;&#0032;One&#0032;Chat&#0032;at&#0032;a&#0032;Time&#0033; | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" class="absolute top-0 left-0 transition-all duration-300 opacity-100 group-hover:opacity-0" />
			</a>
			<a href="https://www.futurepedia.io/tool/codewiz?utm_source=codewiz_embed" target="_blank" rel="noopener noreferrer" class="group h-[54px] flex items-center">
        <img src="https://www.futurepedia.io/api/image-widget?toolId=ce29c1fd-f327-4dde-8af4-a1a7c5020cd6" alt="CodeWiz | Featured on Futurepedia" width="250" height="54" class="transition-all w-[250px] max-w-full aspect-[250/54] duration-300 opacity-60 grayscale group-hover:grayscale-0 group-hover:opacity-100">
			</a>
			<!-- <a href="https://saasaitools.com/featured/codewiz/" target="_blank" rel="noopener noreferrer" class="group h-[54px] flex items-center">
        <div class="transition-all w-[250px] max-w-full aspect-[250/54] duration-300 bg-[#221d21]/60 rounded-[0.625rem] grayscale group-hover:grayscale-0 group-hover:bg-[#221d21] ring-0 group-hover:ring-1 ring-inset ring-indigo-500 flex items-center">
					<img src="https://saasaitools.com/storage/2022/11/saasaitools_logo_white.png" alt="SaasAiTools" width="1" height="1" class="object-cover object-left w-8 h-8 ml-3">
					<div class="flex flex-col py-1 ml-3">
						<p class="text-xs text-zinc-50">Featured on</p>
						<img src="https://saasaitools.com/storage/2022/11/saasaitools_logo_white.png" alt="SaasAiTools" width="83.19" height="24" class="object-cover object-right w-[5.2rem] h-[1.5rem]">
					</div>
				</div>
			</a> -->
			<a href="https://saasaitools.com/featured/codewiz/" target="_blank" rel="noopener noreferrer" class="relative group">
				<img src="https://saasaitools.com/storage/2023/04/badge-dark.png" alt="SaaS AI Tools" width="250" height="60.59" class="transition-all md:h-[54px] w-[250px] md:w-auto aspect-[250/60.59] duration-300 opacity-90 grayscale group-hover:grayscale-0 group-hover:opacity-100">
			</a>
		</div>

		<div class="absolute inset-x-0 z-10 overflow-hidden pointer-events-none -top-64 transform-gpu blur-3xl sm:-top-[30rem] opacity-60 sm:opacity-40" aria-hidden="true">
			<div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
		</div>
		<div class="absolute inset-x-0 top-[calc(100%-13rem)] z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)] pointer-events-none opacity-60 md:opacity-30" aria-hidden="true">
			<div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
		</div>
  </div>
</section>