<ng-container *ngIf="embeddings$ | async as embeddings">
	<div *ngIf="embeddings.length > 0" class="flex flex-col overflow-hidden border divide-y rounded-md divide-zinc-800 border-zinc-800">
		<a
			*ngFor="let embedding of embeddings"
			routerLink="/app/admin/repos/edit/{{embedding.id}}"
			class="flex flex-row items-center justify-between max-w-full px-3 py-2 space-x-4 transition-all duration-300 bg-transparent cursor-pointer group hover:bg-zinc-900"
		>
			<div class="flex flex-row items-center space-x-4">
				<p class="font-medium text-zinc-300">{{embedding.title}}</p>
			</div>
			<div class="flex flex-row items-center space-x-4">
				<span class="truncate text-zinc-500">{{embedding.updatedAt | date:'mediumDate'}}</span>
			</div>
		</a>
	</div>
</ng-container>
